<template>
  <div class="field">
    <b-accordion v-bind="properties"
                v-model="model[field.key]"
                @input="handleInputEvent">
      {{ label }}
    </b-accordion>
  </div>
</template>

<script>
  /**
   * Permits the user to make a binary choice (also accept grouping).
   * {@link https://buefy.github.io/#/documentation/checkbox}
   */
  import BaseFormlyFieldMixin from '@/mixins/base-formly-field'
  import RequiredFieldMixin from '@/mixins/fields/required'
  import SelectricFieldMixin from '@/mixins/fields/selectric'
  import BAccordion from './AccordionComponent.vue'

  export default {
    name: 'vfbAccordion',
    mixins: [BaseFormlyFieldMixin, RequiredFieldMixin, SelectricFieldMixin],
    components: {
      'b-accordion': BAccordion
    },
    data () {
      return {
        canWrapChildNodes: true
      }
    },
    computed: {
      label () {
        return this.getTemplateOption('label', this._model.toString())
      }
    }
  }
</script>

<style>
  .wrapper-accordion:not(:last-child) {
    margin-bottom: 1.75rem;
  }
</style>
