<template>
    <div>
        <label class="label" style="font-weight: normal"><slot/></label>
        <input
            class="input"
            v-model="computedValue"
            :indeterminate.prop="indeterminate"
            type="text"
            :disabled="disabled"
            :required="required">
    </div>
</template>

<script>
    export default {
        name: 'BAccordion',
        props: {
            value: [String, Number, Boolean, Function, Object, Array, Symbol],
            nativeValue: [String, Number, Boolean, Function, Object, Array, Symbol],
            indeterminate: Boolean,
            type: String,
            disabled: Boolean,
            required: Boolean,
            name: String,
            size: String
        },
        data() {
            return {
                newValue: this.value
            }
        },
        computed: {
            computedValue: {
                get() {
                    return this.newValue[this.nativeValue]
                },
                set(value) {
                    this.newValue[this.nativeValue] = value
                }
            }
        },
        watch: {
            value(value) {
                this.newValue[this.nativeValue] = value
            }
        }
    }
</script>