<template>
    <div>
        <vue-dropzone
          id="dropzone"
          ref="dropzone"
          :options="dropzoneOptions"
          :preview-template="template()"
          :include-styling="false"
          :useCustomSlot="true"
          v-on:vdropzone-thumbnail="thumbnail"
          @vdropzone-error="error"
          @vdropzone-success="success" 
          @vdropzone-removed-file="removed" 
        >
          <div class="columns">
            <div class="column">
              <div class="file is-boxed">
                <label class="file-label">
                  <span class="file-cta has-text-centered">
                    <span class="file-icon">
                      <i class="mdi mdi-upload"></i>
                    </span>
                    <span class="file-label">
                      <small v-text="properties.dictDefaultMessage"></small>
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </vue-dropzone>
        
        <!-- <button @click="removeAllFiles" v-if="model[field.key].length">Очистить все файлы</button> -->
    </div>
</template>

<script>
  import BaseFormlyFieldMixin from '@/mixins/base-formly-field'
  import RequiredFieldMixin from '@/mixins/fields/required'
  import vueDropzone from "vue2-dropzone"
  import axios from 'axios'

  //https://rowanwins.github.io/vue-dropzone/docs/dist/index.html#/events

  export default {
    name: 'vfbDropZone',
    components: {
      vueDropzone
    },
    mixins: [BaseFormlyFieldMixin, RequiredFieldMixin],
    methods: {
        /*replaceFile: function() {
            on('click', '[data-replace]', function (e) {
                $(this).closest('.upload-object').parent().parent().find('.upload-button').trigger('click');
                $(this).closest('.upload-object').addClass('old-file');
            })
        },*/
        writeCustomName: function(filename, file_id) {
            axios.post('/upload/update/filename', {
                filename: filename,
                file_id: file_id
            }, {
                headers: this.properties.headers
            }).then(response => {
                this.$snackbar.open({
                    message: response.data.message,
                    type: 'is-success'
                })
            }).catch((e)=>{
                    this.$snackbar.open({
                    message: e.response.data.message,
                    type: 'is-danger',
                    indefinite: true
                })
            })
        },
      changeType: function(type_id, file_id) {
        axios.post('/upload/update/doctype', {
            file_id: file_id,
            type_id: type_id
          }, {
            headers: this.properties.headers
          }).then(response => {
            this.$snackbar.open({
              message: response.data.message,
              type: 'is-success'
            })
        }).catch((e)=>{
            this.$snackbar.open({
              message: e.response.data.message,
              type: 'is-danger',
              indefinite: true
            })
        })
      },
      error(file, response, xhr) {
        let message='Ошибка'
        
        if(xhr.status==419) {
          message='CSRF protection failed'
        }else if(response.message) {
          message=response.message
        }else if(xhr.statusText) {
          message=xhr.statusText
        }

        this.$snackbar.open({
            message: message,
            type: 'is-danger',
            indefinite: true
        })
      },
      success(file, response) {
        file._id=response.image.id
        this.model[this.field.key].push(response.image.id)

        this.$snackbar.open({
            message: response.message,
            type: 'is-success'
        })

          if(file.previewElement.querySelector('.change-file-type') !== null) {
              file.previewElement.querySelector('.change-file-type').addEventListener("change", (e) => {
                  this.changeType(e.target.value, response.image.id);
              });
          }

          if(file.previewElement.querySelector(".custom-file-name") !== null) {
              file.previewElement.querySelector(".custom-file-name").addEventListener("keyup", (e) => {
                  this.writeCustomName(e.target.value, response.image.id);
              });
          }
      },
      removed(file, error, xhr) {
        axios.post('/upload/delete', {
          id: file._id
        }, {
          headers: this.properties.headers
        }).then(response => {
            this.$snackbar.open({
                message: response.data.message,
                type: 'is-success'
            })
        }).catch((e)=>{
            this.$snackbar.open({
                message: e.response.data.message,
                type: 'is-danger',
                indefinite: true
            })
        })
      },
      removeAllFiles() {
        this.$refs.dropzone.removeAllFiles()
        this.model[this.field.key]=[]
      },
      template: function () {
        var tpl = `<div class="columns dz-preview dz-file-preview">
                  <div class="column is-narrow dz-image">
                      <div data-dz-thumbnail-bg></div>
                  </div>`;

          if(this.properties.docTypes !== undefined && this.properties.docTypes.length) {
              tpl += `<div class="column is-narrow">
                        <div class="dz-doctypes select">
                          <select class="change-file-type">`;

                for(var i in this.properties.docTypes) {
                    tpl += '<option value="'+this.properties.docTypes[i].id+'">'+this.properties.docTypes[i].name+'</option>';
                }

                tpl += `</select>
                    </div>
                </div>`;
          }

            tpl += `
                  <div class="column">
                    <div class="dz-filename">
                      <input name="custom_name" class="input custom-file-name" placeholder="`+this.properties.customName+`">
                    </div>
                  </div>
                  <div class="column">
                    <span data-dz-name></span>
                  </div>
                  <div class="column is-narrow">
                    <small data-dz-size></small>
                  </div>
                  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                  <div class="dz-error-message"><span data-dz-errormessage></span></div>
                  <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                  <div class="dz-error-mark"><i class="fa fa-close"></i></div>
                      `;

                /*
              <a class="replace_link"
                  href="javascript:;"
                  data-replace
                  >{{ 'upload.replace_file'|_ }}</a>
                */

            if(window.location.href.indexOf('form/add') > -1 || this.properties.accessToRemove) {
                tpl += `<div class="column is-narrow">
                                <a class="button is-small" data-dz-remove>`+this.properties.dictRemoveFile+`</a>
                              </div>`;
            }

            tpl += '</div>';

          return tpl;
      },
      thumbnail: function(file, dataUrl) {
        var j, len, ref, thumbnailElement;
        if (file.previewElement) {
            file.previewElement.classList.remove("dz-file-preview");
            ref = file.previewElement.querySelectorAll("[data-dz-thumbnail-bg]");
            for (j = 0, len = ref.length; j < len; j++) {
                thumbnailElement = ref[j];
                thumbnailElement.alt = file.name;
                thumbnailElement.style.backgroundImage = 'url("' + dataUrl + '")';
            }
            return setTimeout(((function(_this) {
                return function() {
                    return file.previewElement.classList.add("dz-image-preview");
                };
            })(this)), 1);
        }
      }
    },
    computed: {
      dropzoneOptions() {
        this.properties.previewTemplate=this.template()
        return this.properties;
      }
    },
    mounted(){
      for (var i = 0; i < this.model[this.field.key].length; i++) {
          let image = this.model[this.field.key][i]

          this.$refs.dropzone.manuallyAddFile({
            name: image.real_name,
            size: image.size,
            type: image.mime,
            _id: image.id,
          }, '/files/'+image.name);

        var node = document.getElementsByClassName('custom-file-name')[i];

          if(node !== undefined) {
              node.value = image.custom_name;
              node.addEventListener("keyup", (e) => {
                  this.writeCustomName(e.target.value, image.id);
              });
          }

          var node = document.getElementsByClassName('change-file-type')[i];

          if(node !== undefined) {
            node.value = image.type_id;
            node.addEventListener("change", (e) => {
                  this.changeType(e.target.value, image.id);
            });
          }

          /*
          var node = document.getElementsByTagName('data-replace')[i];

          if(node !== undefined) {
              node.addEventListener("click", (e) => {
                  this.changeType(e.target.value, image.id);
              });
          }

          $(this).closest('.upload-object').parent().parent().find('.upload-button').trigger('click');
          $(this).closest('.upload-object').addClass('old-file');
          */
      }
    }
  }
</script>
<style>
  #dropzone {
    margin-top: 1rem;
  }

  #dropzone .dz-remove {
    display: none
  }

  #dropzone [data-dz-thumbnail-bg] {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #dropzone .dz-preview .column {
    align-self: center;
  }

  /* #dropzone .columns.dz-preview:hover {
    background-color: whitesmoke;
  } */

  #dropzone .columns.dz-preview {
    position: relative;
  }

  #dropzone .file-label {
    width: 100%;
  }

  #dropzone .file-label {
    color: #888888;
  }

  #dropzone .file-cta {
    white-space: inherit;
  }

  #dropzone .dz-error {
    background-color: #fbd6d6;
  }

  #dropzone .dz-success {
    background-color: #e6ffe6;
  }

  #dropzone .dz-error-message{
    display: none
  }

  #dropzone .dz-processing:not(.dz-complete) .dz-progress{
    position: absolute;
    z-index: 100;
    height: 2px;
    width: 100%;
    background: #cacaca;
    bottom: 0rem;
  }

  #dropzone .dz-processing:not(.dz-complete) .dz-progress .dz-upload {
    height: 2px;
    background: #3273dc;
    display: block;
  }
</style>