<template>
  <b-timepicker v-bind="properties"
                v-model="modelValue"
                @blur="onBlur"
                @focus="onFocus"
                @input.native="handleInputNativeEvent">

  <button class="button is-success"
          @click="modelValue = null">
    <b-icon icon="close"></b-icon>
    <span>Очистить</span>
  </button>

  </b-timepicker>
</template>

<script>
  /**
   * An input with a simple dropdown/modal for selecting a time, 
   * uses native timepicker for mobile.
   * {@link https://buefy.github.io/#/documentation/timepicker}
   */
  import BaseFormlyFieldMixin from '@/mixins/base-formly-field'
  import RequiredFieldMixin from '@/mixins/fields/required'

  export default {
    name: 'vfbTimepicker',
    mixins: [BaseFormlyFieldMixin, RequiredFieldMixin],
    computed: {
      // It's important to set initial value to null when no option selected,
      // because the placeholder is not visible when the value different from null
      modelValue: {
        get () {
          if(this._model instanceof Date) {
            return this._model || null
          } else {
            return this._model ? new Date(this._model) : null
          }
        },
        set (newValue) {
          this.model[this.field.key] = newValue || ''
        }
      },
    },
    methods: {
      handleInputNativeEvent (event) {
        const date = new Date(event.target.value)
        if (!date.getTime()) this.modelValue = null
      }
    }
  }
</script>
