@charset "utf-8";

@import "~bulma";
@import "~buefy/src/scss/buefy.scss";
@import "~@mdi/font/css/materialdesignicons.min.css";
@import "~vue-image-lightbox/dist/vue-image-lightbox.min.css";

main {
    margin-top: 18px
}

.section {
    @include mobile {
        padding: 3rem .75rem;
    }
}

.navbar-brand {
    .title {
        font-size: 1.5rem
    }
}
.navbar-link {
    .is-32x32 {
        height: 28px;
        width: 28px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        .title {
            font-size: 1rem
        }
    }
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;

    >.field:not(:last-child) {
        margin-bottom: 1.75rem;
    }
}

.form {
    button.button {
        margin-top: 1.5rem;
        
        &.no-margin {
            margin-top: 0;
        }
    }
}

.hide {
    display: none!important;
}

.comments {
    width: 100%;
    
    .form-comments {
        display: none
    }

    .is-toggled {
        background: #f5f5f5;
        
        .form-comments {
            display: block
        }
    }
}

.b-tabs {
    .tab-content {
        padding: 1rem 0;

        @media screen and (max-width: 769px) {
            overflow: auto;
        }

        .title:first-child {
            font-size: 18px;
        }
    }

    nav.tabs{
        a {
            @media screen and (max-width: 769px) {
                padding-right: .5em;
            }
        }

        li {
            &:first-child {
                a {
                    padding-left: 0;
                }
            }

            span {
                font-size: 20px;
                
                @media screen and (max-width: 769px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.b-table {
    img {
        max-height: 100px;
    }
}

.table.is-hoverable tbody tr:not(.is-selected):hover{
    background-color: whitesmoke;
    cursor: pointer;
}

#calcForm {
    input {
        width: 100%;
        border: 1px solid black;
    }
}

.field-toggle {
    &.toggled {
        .off {
            display: block;
        }

        .on {
            display: none;
        }
    }

    .off {
        display: none;
        position: relative;

        .form-wrapper {
            background: #f1efef;
            padding: .5rem;
        }

        .is-cancel {
            position: absolute;
            bottom: 8px;
            right: 8px;
        }
    }

    .on {
        display: block;
    }
}

.tab-content {
    .icon {
        color: #c1c1c1;
        margin-left: .5rem;
    }
}

.table {
    &.specifications {
        width: 100%;


      /*
    .off {
      background: #f1efef;
      .form-wrapper {
        display: inline-block;

        fieldset {
          display: inline-block;
        }
      }

      .is-cancel {
        position: relative;
        bottom: 0px;
        right: 0px;
        margin-top: .5rem;
      }
    }*/

        tr {
            td {
                font-size: 14px;

                &:last-child {
                    width: 30%;

                    @media screen and (max-width: 768px) {
                      width: 100%;
                    }
                }
                &:first-child {
                    font-weight: bold;
                    white-space: nowrap;
                    width: 1%;
                }
            }
        }
    }
}

.calculator {
    .title {
        font-size: 18px!important;
    }
    .calculator-table {
        width: 60%;

        @media screen and (max-width: 769px) {
            width: 100%;
        }

        tr {
            td {
                &:first-child{
                    white-space: nowrap;
                    width: 40%
                }
            }
        }
    }
}

.align-right {
    float: right;
}

.page-object-documents {
    #dropzone {
        .dz-complete {
            display: none;
        }
        
        .dz-processing{
            display: flex;
        }
    }
}

.is-filter {
    background-color: whitesmoke;
}

.form-add {
    .field {
        .input {
            max-width: 50%;

            @include mobile {
                max-width: 100%;
            }

            &.is-100 {
                max-width: inherit;
            }
        }
    }
}

.autocomplete {
    background-color: white;
}

.is-blue {
    background-color: #29367b !important;
}

@media screen and (max-width: 769px) {
    html {
        font-size: 14px;
    }
}

.is-status-tag {
    margin-bottom: 1rem
}