$primary-color: #23397E;

$body-size: 15px;
$primary: $primary-color;
$grey-lighter: #f2f2f2;
$body-color: #373a3c;
$link-hover: #0d4c70;
$link: #157ab5;
$family-primary: 'Segoe UI', 'Source Sans Pro', 'Calibri' , 'Candara', 'Arial', 'sans-serif';

$footer-background-color: $primary;

$navbar-item-active-background-color: $primary;
$navbar-item-color: #157ab5;
$navbar-item-active-color: white;

$title-color: $primary;

$success: #ef4c45;