@import "poland-variables.scss";
@import "app.scss";

body {
    font-size: .9375rem;
    background-color: #fbfcfd;
}

.title {
    font-weight: 600;
    color: #000000;
    font-size: 1rem;
}

.navbar.has-shadow {
    background-color: #f0f1f2;
    border-bottom: 1px solid #ced4da;
}

a.navbar-item {
    color: #444444;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

a.navbar-item:hover {
    background-color: transparent;
    color: #444444;
}

a.navbar-item.is-active{
    background-color: transparent!important;
    border-bottom: 2px solid #ee3242;
    color: #444444;
}

a.navbar-link {
    color: #444444;
    font-size: 13px;
    font-weight: 600;

    &:after {
        border-color: #444444!important;
    }
}

a.navbar-link:hover {
    color: #444444;
}

.navbar-item img {
    max-height: 2.75rem;
}

.navbar-brand {
    .title {
        font-size: 1rem;
        font-weight: 700;
    }
}

.title {
    &.is-4 {
        font-size: 1rem;
    }
}

.b-table .table th {
    min-width: 7rem;
}

.content table thead th {
    color: #000000;
}

.content h4 {
    color: #000000;
}

.b-tabs nav.tabs li span {
    font-size: .85rem;
    color: #868e96;
}

main {
    margin-top: 0px;
}

table.table {
    margin: 0 -.75rem;
}

.pl-header {
    display: block;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.field .field-wrapper .field:not(:last-child)  {
    float: left;
    margin-right: 10px;
}

.breadcrumb {
    display: none;
}

.is-filter {
    background-color: #f5f5f5;
    height: fit-content;
    margin-top: 35px;
}

.is-blue {
    background-color: #157ab5!important;
}

.input, .textarea, .button {
    border-color: #ced4da;
}

.info_text {
    position: absolute;
    padding-top: 8px;

    text-align: center;
    margin: 0 auto;

    // width: fit-content;
    z-index: 10;

    &:before {
        background: url(/images/info_open_icon.png) no-repeat center top;
        background-size: 18px 9px;
        position: absolute;
        content: "";
        width: 18px;
        height: 9px;
        top: 0;
        left: 50%;
        margin-left: -8px;
        z-index: 2;
    }

    & > div {
        border: 1px solid #dfdfdf;
        background: #ffffff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
        padding: 10px;
        position: relative;
    }
}