$primary-color: #23397E;

$body-size: 16px;
$primary: $primary-color;
$grey-lighter: #f2f2f2;
$body-color: $primary;
$link-hover: #00bfde;
$family-primary: 'Roboto', sans-serif;

$footer-background-color: $primary;

$navbar-item-active-background-color: $primary;
$navbar-item-color: $primary;
$navbar-item-active-color: white;

$title-color: $primary;
$text-strong: $primary;