@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "srm-variables.scss";
@import "app.scss";

.navbar {
    background-color: #29367b;

    .navbar-item {
        color: #FFFFFF;

        &:hover{
            background-color: #ffffff17;
            color: #FFFFFF;
        }
    }

    .navbar-link {
        color: #FFFFFF;

        &:hover{
            background-color: #ffffff17;
            color: #FFFFFF;
        }
    }

    .navbar-dropdown {
        background-color: #2c3478;
        border-top: 2px solid #2c3478;
    }

    .navbar-item.has-dropdown:hover .navbar-link {
        background-color: #ffffff17;
    }

    .navbar-dropdown a.navbar-item:hover {
        background-color: #ffffff17;
        color: #FFFFFF;
    }

    .navbar-link:not(.is-arrowless)::after {
        border-color: #ffffff87;
    }

    .navbar-burger {
        color: #6577b1;
    }
}

.is-filter {
    background-color: transparent;
}