<p>
    <button
            id="updateFieldsPosition"
            class="btn btn-reorder btn-sm btn-secondary oc-icon-list"
            disabled="disabled"
            style="z-index: 400; position: absolute;top: 34px; left: 273px"
            onclick="$(this).data('request-data', {
                checked: $('.index_fields_reposition').map(function(){  return $(this).val() }).get(), model_id: <?php echo $this->formGetModel()->id; ?> })"
            data-request-success="initializeSorting();"
            data-request="onUpdateFieldsPosition"
            data-stripe-load-indicator>
        Обновить позиции
    </button>
    <?php if(strpos(request()->url(), 'forms/forms/update/')): ?>
    <button
            class="btn btn-sm btn-secondary oc-icon-upload"
            style="z-index: 400; position: absolute;top: 34px; left: 473px"
            onclick="$(this).data('request-data', {model_id: <?php echo $this->formGetModel()->id; ?> })"
            data-request="onExport">
        Экспорт
    </button>
    <?php endif; ?>
</p>
<style>
    #Forms-create-RelationController-fields-toolbar .btn.btn-sm.btn-secondary.oc-icon-file,
    #Forms-update-RelationController-fields-toolbar .btn.btn-sm.btn-secondary.oc-icon-file {
        
    }

    #Forms-create-RelationController-fields-view .list-footer,
    #Forms-update-RelationController-fields-view .list-footer {
        display: none;
    }
</style>

<?= $this->relationRender('fields') ?>