<div class="form-group radio-field span-left">
    <div class="control-list">
        <table class="table data">
            <caption><?php echo $this->form->name.' :: '.$this->form->code; ?></caption>
            <thead>
                <tr>
                    <th width="50%"><span>Старые поля</span></th>
                    <th width="50%"><span>Новые поля</span></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->form->fields as $field):?>
                    <tr>
                        <td>
                            <?php

                            $_field = null;

                             if($this->existForm) {
                                $_field = $this->existForm->fields->where('code', $field->code)->first();
                             }

                            if($_field) {
                                echo $_field->name.' :: '.$_field->code;
                            }

                             ?>
                        </td>
                        <td>
                            <?=$field->name.' :: '.$field->code?>
                            <?php
                                if($field->type == 'selectTable' && !empty($field->options[0])) {
                                    if(!\Schema::hasTable($field->options[0])) {
                                        echo "<br>Не хватает таблицы: ".$field->options[0];
                                    }
                                }
                             ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <table class="table data">
            <thead>
            <tr>
                <th width="50%"><span>Старые статусы</span></th>
                <th width="50%"><span>Новые статусы</span></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->form->statuses as $status):?>
            <tr>
                <td>
                    <?php

                        $_status= null;

                         if($this->existForm) {
                            $_status = $this->existForm->statuses->where('code', $status->code)->first();
                        }

                        if($_status) {
                            echo $_status->name.' :: '.$_status->code;
                        }

                    ?>
                </td>
                <td>
                    <?=$status->name.' :: '.$status->code?>
                </td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="loading-indicator-container">
        <button
            type="button"
            class="btn btn-default"
            data-stripe-load-indicator
            data-request="onImportConfirm"
            data-request-success="window.location.href='/backend/perevorot/forms/forms';"
            data-request-confirm="Вы действительно хотите импортировать форму?"
            data-load-indicator="">
            Подтвердить импорт
        </button>
    </div>
</div>