<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('perevorot/forms/forms') ?>">Формы</a></li>
        <li>Создание формы</li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.create')) ?>
                </button>
                <button 
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-default">
                    <?= e(trans('backend::lang.form.create_and_close')) ?>
                </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('perevorot/forms/forms') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('perevorot/forms/forms') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>


<script>
    $(function() {
        $('body').on('click', '#Form-relationFieldsManageForm-managePopup form .btn-primary', function() {
            //e.preventDefault();
            if(confirm("Вы уверены, что хотите сохранить поле?")) {
                return true;
            } else {
                return false;
            }
        });
        $('body').on('change', '#Form-relationFieldsManageForm-field-Field-is_parent', function() {
            if(!$(this).is(':checked')) {
                $('body').find('#Form-relationFieldsManageForm-field-Field-parent_field_value-group').addClass('hide');
            } else {
                $('body').find('#Form-relationFieldsManageForm-field-Field-parent_field_condition').trigger('change');
            }
        });
    });
</script>