<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('perevorot/forms/forms') ?>">Формы</a></li>
    <li>Импорт формы</li>
</ul>
<?php Block::endPut() ?>

<form>
<input
        style="display:none;"
        id="file"
        type="file"
        name="file"
        class="btn btn-default"
        data-request="onImport"
        data-request-files
        data-request-flash
        data-request-update="import_confirm: '#import-confirm'"
        data-request-success="$('#export').val(data.export)"
        data-load-indicator="Проверяю сообщения..."
>
    <label for="file" class="btn btn-default oc-icon-download">Выбрать файл</label>
</form>

<div id="import-confirm">

</div>
