<template>
    <div>
        <iframe class="rem-embed" :src="getScriptUrl()"></iframe>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'rem-embed',
        props: {
            id: {
               type: String,
               default: ''
            },
        },
        data () {
            return {
                
            }
        },
        methods: {
            getScriptUrl() {
                const script = document.getElementById('rem-sdk')
                
                const l = document.createElement('a')
                l.href = script.src

                return '//'+l.hostname+'?global_id='+this.id
            }
        }
    }
</script>

<style>
    .rem-embed {
        border: 1px solid rgba(0, 0 ,0, .125);
        width: 100%;
        height: 550px;
    }
</style>