<template>
    <div class="form-wrapper" style="position: relative;min-height: 4rem">
        <div class="form" v-on:click="isFormTouched=true">
            <formly-form :form="_form" :model="_model" :fields="_fields" ref="form"></formly-form>
            <button class="button" v-bind:class="buttonClasses" v-if="fields.length" v-text="buttonLabel" v-on:click.prevent="handleSubmit"></button>
            <button class="button" v-bind:class="buttonClasses" v-if="!onlyFields.length" v-text="cancelLabel" v-on:click.prevent="handleCancel"></button>
        </div>
        <!--
        <div v-html="model"></div>
        <hr>
        <div v-html="form"></div>
        <hr>
        <div v-html="fields"></div>
        -->
        <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
    </div>
</template>

<script>
    import axios from 'axios'
    import Span from './SpanControl'
    import sessionstorage from 'sessionstorage'

    export default {
        name: 'rem-form',
        props: {
            code: {
               type: String,
               default: ''
            },
            parentCode: {
                type: String,
                default: ''
            },
            id: {
                type: Number,
                default: -1
            },
            presetValues: {
                type: Object
            },
            buttonLabel: {
                type: String,
                default: 'Сохранить'
            },
            cancelLabel: {
                type: String,
                default: 'Отмена'
            },
            buttonClass: {
                type: String,
                default: ''
            },
            redirect: {
                type: String,
                default: ''
            },
            reload: {
                type: Boolean,
                default: false
            },
            onlyFields: {
                type: Array,
                default: () => []
            },
            apiSaveUrl: {
                type: String,
                default: '/api/form/save'
            },
            apiSchemaUrl: {
                type: String,
                default: '/api/form/schema'
            }
        },
        data () {
            return {
                form: {
                    $valid: false
                },
                model: {},
                fields: [],
                isLoading: true,
                isSaving: false,
                schemas: {},
                isFormTouched: false
            }
        },
        methods: {
            handleCancel(){
                let query={}

                if(sessionstorage.getItem('global_id')) {
                    query.global_id = sessionstorage.getItem('global_id')
                }

                if(this.redirect) {
                    window.location = this.redirect;
                } else {
                    window.location.href = '/' + (query.global_id !== undefined ? '?global_id='+query.global_id : '');
                }
            },
            handleSubmit(){
                this.$refs.form.validate()
                .then(()=>{
                    if (this.form.$valid) {                    
                        this.isSaving=true

                        let query={
                            form: this.model
                        }

                        if(sessionstorage.getItem('global_id')) {
                            query.global_id = sessionstorage.getItem('global_id')
                        }

                        axios.post(this.apiSaveUrl+'/'+this.code+(this.id>0 ? '/'+this.id : '')+(this.parentCode ? '/'+this.parentCode : ''), query).then(response => {
                            this.$snackbar.open({
                                message: response.data.message,
                                type: 'is-success'
                            })

                            //console.log(response);
                            //return;

                            if(this.redirect) {
                               window.location = this.redirect;
                            }
                            else if(this.reload) {
                                window.location.reload(true);
                            } else {
                                window.location.href = '/form/show/' + this.code + '/' + response.data.id+(query.global_id !== undefined ? '?global_id='+query.global_id : '');
                            }
                        }).catch((e)=>{
                            this.isSaving=false

                            this.$snackbar.open({
                                message: e.response.data.message,
                                type: 'is-danger',
                                indefinite: true
                            })
                        })
                    }
                })
            },
            handlePresetValues() {
                if(typeof this.presetValues!=='undefined' && Object.keys(this.presetValues).length > 0) {
                    this.model=Object.assign(this.model, this.presetValues)
                }
            },
            getSchema(code, parentCode, component) {
                let query={}

                if(sessionstorage.getItem('global_id')) {
                    query.global_id = sessionstorage.getItem('global_id')
                }
                
                return axios.post(component.apiSchemaUrl+'/'+code+(component.id>0 ? '/'+component.id : '')+(parentCode ? '/'+parentCode : ''), query)
            },
            preFetchSchemas(component) {
                const code = component.$options.propsData.code
                const parentCode = component.$options.propsData.parentCode
                const schemaKey=code+(component.id>0 ? '-'+component.id : '')

                if(component.$options.name == 'rem-form' && !this.schemas[schemaKey]) {
                    this.schemas[schemaKey]=this.getSchema(code, parentCode, component)
                }
            },
            preApplySchemas(component) {
                const code = component.$options.propsData.code
                const schemaKey=code+(component.id>0 ? '-'+component.id : '')
                const onlyFields = component.$options.propsData.onlyFields
                const data=['form', 'model', 'fields']

                if(component.$options.name == 'rem-form') {
                    data.map(f => {
                        let tmp=JSON.parse(JSON.stringify(this.$root.$remFormSchemes[schemaKey][f]));

                        if(f=='fields'){
                            tmp.map(field => {
                                if(field.templateOptions.wrapper.controls && field.templateOptions.wrapper.controls[0].type=='Span') {
                                    field.templateOptions.wrapper.controls[0].type=Span
                                }
                            })
                        }

                        component[f]=tmp
                    })

                    if(onlyFields) {
                        component.fields=component.fields.filter( field => onlyFields.indexOf(field.key) !== -1 )
                        component.fields.map(field=>{
                            field.templateOptions.wrapper.properties.label=''
                            field.templateOptions.label=''
                            field.templateOptions.collapsable=false
                        })
                        
                        component.model=Object.keys(component.model).reduce((object, key) => {
                            if (onlyFields.indexOf(key) !== -1) {
                                object[key] = component.model[key]
                            }

                            return object
                        }, {})

                        component.form=Object.keys(component.form).reduce((object, key) => {
                            if (onlyFields.indexOf(key) !== -1 || key=='$errors') {
                                object[key] = component.form[key]
                            }

                            return object
                        }, {})
                    }

                    component.handlePresetValues()
                    component.isLoading=false

                    component.$refs.form.validate().then(()=>{
                        
                    })
                }
            }
        },
        computed: {
            buttonClasses: function () {
                let classes= {
                    'is-loading': this.isSaving
                }

                if(this.buttonClass !== '') {
                    classes[this.buttonClass]=true
                }
                
                return classes
            },
            _form: function() {
                return this.form
            },
            _model: function() {
                return this.model
            },
            _fields: function() {
                return this.fields
            }
        },
        mounted() {
            if(typeof this.$root.$axiosSchemesAwait === 'undefined') {
                this.$root.$axiosSchemesAwait=true
                this.$root.$remFormSchemes={}

                this.$root.$children.map((component) => {
                    this.preFetchSchemas(component)

                    component.$children.map((childrenComponent) => {
                        this.preFetchSchemas(childrenComponent)
                    })
                })

                let codes=Object.keys(this.schemas)
                
                axios.all(Object.values(this.schemas))
                    .then((results) => {
                        let schemas = results.map((response, i) => {
                            this.$root.$remFormSchemes[codes[i]]=response.data
                        })

                        this.$root.$children.map((component) => {
                            this.preApplySchemas(component)

                            component.$children.map((childrenComponent) => {
                                this.preApplySchemas(childrenComponent)
                            })
                        })
                    })
                    // }).catch((e)=>{
                    //     this.$snackbar.open({
                    //         message: 'Не могу получить структуру формы: '+e.response.data.message,
                    //         type: 'is-danger',
                    //         indefinite: true
                    //     })

                    //     this.isLoading=false
                    // })
            }
//             if(!this.$root.$schemas) {
//                 this.$root.$schemas={}
//             }

//             this.$root.$axiosAwait=this.$root.$axiosAwait ? false : true;
// console.log(this.$root.$axiosAwait)
//             if(this.$root.$schemas[this.code]) {
//                 this.form=this.$root.$schemas[this.code].form
//                 this.model=this.$root.$schemas[this.code].model
//                 this.fields=this.$root.$schemas[this.code].fields

//                 this.handlePresetValues()
//                 console.log('schema exists')

//             } else {
//                 // axios.post('/api/form/schema/'+this.code+(this.id>0 ? '/'+this.id : ''))
//                 // .then(response => {
//                 //     this.form=response.data.form
//                 //     this.model=response.data.model
//                 //     this.fields=response.data.fields
//                 //     this.isLoading=false

//                 //     this.$root.$schemas[this.code]={
//                 //         form: this.form,
//                 //         model: this.model,
//                 //         fields: this.fields
//                 //     }
                    
//                 //     this.handlePresetValues()
//                 // }).catch((e)=>{
//                 //     this.$snackbar.open({
//                 //         message: 'Не могу получить структуру формы: '+e.response.data.message,
//                 //         type: 'is-danger',
//                 //         indefinite: true
//                 //     })

//                 //     this.isLoading=false
//                 // })
//             }
        }
    }
</script>