<template>
    <div>
          <LightBox :images="images" :show-light-box="false" :show-caption="true" :disable-scroll="true" ref="gallery"></LightBox>
    </div>
</template>

<script>
    import LightBox from 'vue-image-lightbox'
    import axios from 'axios'

    export default {
        components: {
            LightBox,
        },
        props: {
        },
        data () {
            return {
                images: []
            }
        },
        methods: {
            openGallery(index) {
                this.$refs.gallery.showImage(index)
            }
        },
        mounted() {
            axios.get(window.location.href+'?images=true').then(response => {
                this.images=response.data.images
            })
        }
    }
</script>
<style lang="scss">
    .vue-lb-info {
        height: auto;
        padding: .5rem;

        .columns {
            .column:first-child {
                align-self: center;
            }
        }
    }
</style>