<template>

<div class="REM-list" style="min-height:500px;">
    <div class="filter-toggler" v-if="isFilterTogglerVisible && isFilterPresent">
        <button class="button is-link" v-on:click="isFilterVisible=!isFilterVisible">
            <span class="icon">
                <i class="mdi mdi-filter"></i>
            </span>
            <span v-if="!isFilterVisible">Показать фильтр</span>
            <span v-if="isFilterVisible">Скрыть фильтр</span>
        </button>
    </div>

    <div class="columns is-tablet">
        <div class="is-filter column is-3-desktop is-4-tablet"  v-bind:class="{ 'is-toggler-visible': isFilterTogglerVisible, 'is-toggler-hidden': !isFilterTogglerVisible, 'is-visible': isFilterVisible }" v-if="showFilter && isFilterPresent">
            <div class="tile" v-if="filterData.filter.tenders.length">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <h4 class="title is-6" v-text="filterData.translates.tenders"></h4>
                        <div class="field">
                            <b-input v-model="filterSelected.query" :placeholder="filterData.translates.query"></b-input>
                        </div>
                        <div class="field">
                            <b-select v-model="filterSelected.tenderField" :placeholder="filterData.translates.tendersField">
                                <option v-for="item in filterData.filter.tenders" v-bind:key="item.code"
                                        :key="item.code"
                                        :value="item.code">
                                    {{ item.name }}
                                </option>
                            </b-select>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile" v-if="filterData.filter.types.length">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <h4 class="title is-6" v-text="filterData.translates.types"></h4>
                        <div class="field" v-for="item in filterData.filter.types" v-bind:key="item.code">
                            <b-checkbox :native-value="item.code" v-model="filterSelected.types">
                                {{ item.name }}
                            </b-checkbox>
                        </div>
                        <div class="field">
                            <b-checkbox v-model="isSelectAllTypes">
                                {{ filterData.translates.allTypes }}
                            </b-checkbox>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile" v-if="filterData.filter.statuses.length">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <h4 class="title is-6" v-text="filterData.translates.statuses"></h4>
                        <div class="field" v-for="item in filterData.filter.statuses" v-bind:key="item.code">
                            <b-checkbox :disabled="!item.count_objects" :native-value="item.code" v-model="filterSelected.statuses">
                                {{ item.name+', '+item.count_objects }}
                            </b-checkbox>
                        </div>
                        <div class="field">
                            <b-checkbox v-model="isSelectAllStatuses">
                                {{ filterData.translates.allStatuses }}
                            </b-checkbox>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile" v-if="filterData.showDateFilter">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <h4 class="title is-6" v-text="filterData.showDateFilter"></h4>
                        <div class="field">
                            <b-datepicker :placeholder="filterData.translates.date_from" v-model="filterSelected.dateFrom">
                            </b-datepicker>
                        </div>
                        <div class="field">
                            <b-datepicker :placeholder="filterData.translates.date_to" v-model="filterSelected.dateTo">
                            </b-datepicker>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile" v-if="filterData.onModeration">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <div class="field">
                            <b-checkbox :native-value="true" v-model="filterSelected.onModeration">
                                {{ filterData.translates.moderation }}
                            </b-checkbox>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile" v-if="filterData.noParentFilter">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <h4 class="title is-6">{{ filterData.noParentFilterTitle }}</h4>
                        <div class="field">
                            <b-checkbox :native-value="true" v-model="filterSelected.noParent">
                                {{ filterData.noParentFilter }}
                            </b-checkbox>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile" v-if="filterData.filter.childrenStatuses.length">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <h4 class="title is-6" v-text="filterData.childrenFormName"></h4>
                        <div class="field" v-for="item in filterData.filter.childrenStatuses" v-bind:key="item.code">
                            <b-checkbox :disabled="!item.count_objects" :native-value="item.code" v-model="filterSelected.childrenStatuses">
                                {{ item.name+', '+item.count_objects }}
                            </b-checkbox>
                        </div>
                        <div class="field">
                            <b-checkbox v-model="isSelectAllChildrenStatuses">
                                {{ filterData.translates.allChildrenStatuses }}
                            </b-checkbox>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile" v-if="filterData.filter.responsibles.length">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <h4 class="title is-6" v-text="filterData.translates.responsibles"></h4>
                        <div class="field" v-for="item in filterData.filter.responsibles" v-bind:key="item.code">
                            <b-checkbox :disabled="!item.count_objects" :native-value="item.code" v-model="filterSelected.responsibles">
                                {{ item.name+', '+item.count_objects }}
                            </b-checkbox>
                        </div>
                        <div class="field">
                            <b-checkbox v-model="isSelectAllResponsibles">
                                {{ filterData.translates.allResponsibles }}
                            </b-checkbox>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="column" v-bind:class="{ 'has-filters': isFilterPresent }">
            <article class="tile is-child">

                <div v-if="addUrl" style="text-align: center;"><a class="button is-success" style="margin-top:2rem" :href="addUrl">{{ addUrlText }}</a></div>

                <div class="content" v-if="filterData.list.length">
                    <div class="columns is-gapless is-mobile">
                        <div class="column">
                            <h4 class="title is-4" v-text="filterData.formName" v-if="showTitle"></h4>
                        </div>
                        <div class="column has-text-right">
                            <div v-if="filterData.showAddButton">
                                <a class="button edit" href="/form/add/object" v-text="filterData.translates.form_add"></a>
                            </div>
                        </div>
                    </div>

                    <b-table
                        :data="filteredObjects"
                        paginated
                        per-page="20"
                        detail-key="id"
                        :pagination-simple="true"
                        hoverable
                        selectable
                        @select="selected"
                    >

                    <template slot-scope="props">
                        <b-table-column v-for="(item, key) in props.row.data" v-bind:key="key" :label="filterData.columns[key].label">
                            <span :class="filterData.columns[key].class" v-bind:style="{backgroundColor: key == 'status' ? props.row.extra.statusColor : ''}" v-html="item"></span>
                        </b-table-column>
                    </template>
                    <template slot="footer" v-if="!showFilter">
                        <th v-for="(item, key) in filterData.calculated" v-bind:key="key" class="is-hidden-mobile" v-bind:colspan="item.colspan">
                            <div class="th-wrap is-numeric" v-text="item.total"></div>
                        </th>
                    </template>

                    <!--
                    <template slot="detail" slot-scope="props">
                        <article class="media">
                            <figure class="media-left" if="props.row.image">
                                <img :src="props.row.image" style="max-width: 200px">
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{ props.row.name }}</strong>
                                    </p>
                                    <p>
                                        <time>Дата добавления: <span v-text="props.row.dt"></span></time>
                                    </p>
                                    <p v-if="props.row.status_name">
                                        Статус: <span v-text="props.row.status_name"></span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </template>
                    -->
                </b-table>
                    <!--
                    <h4 class="title is-4" v-text="filterData.formName"></h4>
                    <div class="card" v-for="item in filteredObjects" v-bind:key="item.id">
                        <div class="card-content">
                            <div v-if="id == -1">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><a :href="item.url" v-text="item.name"></a></p>
                                    </div>
                                </div>
                                <div class="content">
                                    <time>Дата добавления: <span v-text="item.dt"></span></time>
                                    <p v-if="item.status_name">Статус: <span v-text="item.status_name"></span></p>
                                </div>
                            </div>
                            <div v-else>
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><strong v-text="item.name"></strong></p>
                                    </div>
                                </div>

                                <div class="content" v-if="item.fields.length">
                                    <div v-for="field in item.fields" v-bind:key="field.code">
                                        <span v-text="field.name+':'"></span> <span v-text="field.value"></span>
                                    </div>
                                </div>
                                <div class="content">
                                    <time>Дата добавления: <span v-text="item.dt"></span></time>
                                    <a class="button is-success edit" style="margin-top:2rem" :href="'/form/edit/'+code+'/'+item.id">Редактировать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </article>
        </div>
    </div>

<!--
    <div class="columns">
        <div class="column is-3 card" v-if="filterData.filter.statuses && filterData.filter.statuses.length">
            <h4 class="title is-4">Статусы</h4>
            <div class="field" v-for="item in filterData.filter.statuses" v-bind:key="item.code">
                <b-checkbox :disabled="!item.count_objects" :native-value="item.code" v-model="filterSelected.statuses">
                    {{ item.name+', '+item.count_objects  }}
                </b-checkbox>
            </div>
        </div>

        <div class="column is-8">
            <div class="title" v-text="filterData.formName"></div>
            <div class="card" v-for="item in filteredObjects" v-bind:key="item.id">
                <div class="card-content">
                    <div v-if="id == -1">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4"><a :href="item.url" v-text="item.name"></a></p>
                            </div>
                        </div>
                        <div class="content">
                            <time>Дата добавления: <span v-text="item.dt"></span></time>
                            <p v-if="item.status_name">Статус: <span v-text="item.status_name"></span></p>
                        </div>
                    </div>
                    <div v-else>
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4"><strong v-text="item.name"></strong></p>
                            </div>
                        </div>

                        <div class="content" v-if="item.fields.length">
                            <div v-for="field in item.fields" v-bind:key="field.code">
                                <span v-text="field.name+':'"></span> <span v-text="field.value"></span>
                            </div>
                        </div>
                        <div class="content">
                            <time>Дата добавления: <span v-text="item.dt"></span></time>
                            <a class="button is-success edit" style="margin-top:2rem" :href="'/form/edit/'+code+'/'+item.id">Редактировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
    </div>
</template>

<script>
    import axios from 'axios'
    import sessionstorage from 'sessionstorage'
    import createHistory from 'history/createBrowserHistory'

    export default {
        name: 'rem-list',
        props: {
            addUrl: {
                type: String,
                default: ''
            },
            addUrlText: {
                type: String,
                default: ''
            },
            code: {
               type: String,
               default: ''
            },
            id: {
                type: Number,
                default: -1
            },
            showTitle: {
                type:  Boolean,
                default: true
            },
            isShowClick: {
                type:  Boolean,
                default: true
            },
            isTargetClick: {
                type:  Boolean,
                default: false
            },
            isEditClick: {
                type:  Boolean,
                default: false
            },
            showFilter: {
                type:  Boolean,
                default: false
            },
            apiUrl: {
                type:  String,
                default: '/api/list'
            }
        },
        data () {
            return {
                isLoading: true,
                filterData: {
                    list: [],
                    columns: {},
                    calculated: {},
                    formName: '',
                    childrenFormName: '',
                    translates: {},
                    filter: {
                        tenders: [],
                        types: [],
                        statuses: [],
                        childrenStatuses: [],
                        responsibles: [],
                    }
                },
                filterSelected: {
                    dateFrom: null,
                    dateTo: null,
                    noParent: false,
                    onModeration: false,
                    tenderField: null,
                    query: null,
                    types: [],
                    statuses: [],
                    childrenStatuses: [],
                    responsibles: [],
                },
                isFilterVisible: false,
                isFilterTogglerVisible: false,
                isSelectAllTypes: false,
                isSelectAllStatuses: false,
                isSelectAllChildrenStatuses: false,
                isSelectAllResponsibles: false,
                historyJS: null,
            }
        },
        methods: {
            selected(item) {
                let globalIdParam = ''

                if(sessionstorage.getItem('global_id')) {
                    globalIdParam = '?global_id='+sessionstorage.getItem('global_id')
                }

                if(this.isEditClick) {
                    window.location.href=item.extra.url.replace('/show/', '/edit/')+globalIdParam
                }
                else if(this.isTargetClick) {
                    window.open(item.extra.url+globalIdParam, '_blank');
                }
                else if(this.isShowClick) {
                    window.location.href=item.extra.url+globalIdParam
                }
            },
            screenSize(type) {
                let w=window,d=document,e=d.documentElement,g=d.getElementsByTagName('body')[0],x=w.innerWidth||e.clientWidth||g.clientWidth,y=w.innerHeight||e.clientHeight||g.clientHeight

                return type=='width' ? x : y;
            },
        },
        watch: {
            filterSelected: {
                handler: function() {
                    var filters = {};

                    for(var filter in this.filterSelected) {
                        if(!Array.isArray(this.filterSelected[filter]) && this.filterSelected[filter] !== null && this.filterSelected[filter] !== false) {
                            filters[filter] = this.filterSelected[filter];
                        }
                        else if (Array.isArray(this.filterSelected[filter]) && this.filterSelected[filter].length > 0) {
                            filters[filter] = this.filterSelected[filter];
                        }
                    }

                    this.historyJS.push(window.location.pathname+'#/filters='+JSON.stringify(filters));
                },
                deep: true
            },
            isSelectAllResponsibles: function(value){
                if(value) {
                    for(var i in this.filterData.filter.responsibles) {
                        if(this.filterData.filter.responsibles[i].count_objects > 0) {
                            this.filterSelected.responsibles.push(this.filterData.filter.responsibles[i].code);
                        }
                    }
                } else {
                    this.filterSelected.responsibles=[];
                }
            },
            isSelectAllChildrenStatuses: function(value){
                if(value) {
                    for(var i in this.filterData.filter.childrenStatuses) {
                        if(this.filterData.filter.childrenStatuses[i].count_objects > 0) {
                            this.filterSelected.childrenStatuses.push(this.filterData.filter.childrenStatuses[i].code);
                        }
                    }
                } else {
                    this.filterSelected.childrenStatuses=[];
                }
            },
            isSelectAllStatuses: function(value){
                if(value) {
                    for(var i in this.filterData.filter.statuses) {
                        if(this.filterData.filter.statuses[i].count_objects > 0) {
                            this.filterSelected.statuses.push(this.filterData.filter.statuses[i].code);
                        }
                    }
                } else {
                    this.filterSelected.statuses=[];
                }
            },
            isSelectAllTypes: function(value){
                if(value) {
                    for(var i in this.filterData.filter.types) {
                        this.filterSelected.types.push(this.filterData.filter.types[i].code);
                    }
                } else {
                    this.filterSelected.types=[];
                }
            },
        },
        computed: {
            isFilterPresent: function(){
                return (this.filterData.filter.tenders.length || this.filterData.filter.types.length || this.filterData.onModeration || this.filterData.filter.statuses.length || this.filterData.filter.childrenStatuses.length || this.filterData.filter.responsibles.length)
            },
            filteredObjects: function(){
                if(
                    (this.filterSelected.query !== null && this.filterSelected.tenderField !== null) ||
                    this.filterSelected.dateTo !== null || this.filterSelected.dateFrom !== null || this.filterSelected.noParent !== null ||
                    this.filterSelected.statuses.length || this.filterSelected.childrenStatuses.length || this.filterSelected.responsibles.length
                ){
                    return this.filterData.list.filter((item) => {
                        var tenderFilter = true;

                        if(this.filterSelected.tenderField !== null && this.filterSelected.query !== null && this.filterSelected.query != '') {
                            tenderFilter = false;

                            if(item.extra.tender !== undefined && item.extra.tender !== null && item.extra.tender.length) {
                                for(var i in item.extra.tender) {
                                    var tender = item.extra.tender[i];

                                    if(tender.field_name == this.filterSelected.tenderField && tender.field_value.indexOf(this.filterSelected.query) > -1) {
                                        tenderFilter = true;
                                        break;
                                    }
                                }
                            }
                        }

                        var dateFilter = true;

                        if(this.filterSelected.dateFrom !== null && this.filterSelected.dateFrom != '') {
                            dateFilter = false;

                            if(item.extra.date != null && item.extra.date != '') {
                                var itemDate = new Date(item.extra.date);
                                var d = new Date(this.filterSelected.dateFrom);var mm = d.getMonth()+1;
                                var mm = d.getMonth()+1;
                                var dd = d.getDate();
                                var yy = d.getFullYear();

                                if(parseInt(mm) < 10) {
                                    mm = '0'+mm;
                                }
                                if(parseInt(dd) < 10) {
                                    dd = '0'+dd;
                                }

                                var filterDate = yy + '-' + mm + '-' + dd;

                                filterDate = new Date(filterDate);

                                if (itemDate.getTime() >= filterDate.getTime()) {
                                    dateFilter = true;
                                }
                            }
                        }

                        if(dateFilter && this.filterSelected.dateTo !== null && this.filterSelected.dateTo != '') {
                            dateFilter = false;

                            if(item.extra.date != null && item.extra.date != '') {
                                var itemDate = new Date(item.extra.date);
                                var d = new Date(this.filterSelected.dateTo);
                                var mm = d.getMonth()+1;
                                var dd = d.getDate();
                                var yy = d.getFullYear();

                                if(parseInt(mm) < 10) {
                                    mm = '0'+mm;
                                }
                                if(parseInt(dd) < 10) {
                                    dd = '0'+dd;
                                }

                                var filterDate = yy + '-' + mm + '-' + dd;

                                filterDate = new Date(filterDate);

                                if (itemDate.getTime() <= filterDate.getTime()) {
                                    dateFilter = true;
                                }
                            }
                        }

                        var childrenFilter = true;

                        if(this.filterSelected.childrenStatuses.length) {
                            childrenFilter = false;

                            for (var i = 0; i < this.filterSelected.childrenStatuses.length; i++) {
                                if (item.extra.childrenStatuses.indexOf(this.filterSelected.childrenStatuses[i]) !== -1) {
                                    childrenFilter = true;
                                    break;
                                }
                            }
                        }

                        var responsiblesFilter = true;

                        if(this.filterSelected.responsibles.length) {
                            responsiblesFilter = false;

                            for (var i = 0; i < this.filterSelected.responsibles.length; i++) {
                                if (this.filterSelected.responsibles.indexOf(item.extra.responsible) !== -1) {
                                    responsiblesFilter = true;
                                    break;
                                }
                            }
                        }

                        var noParent = this.filterSelected.noParent ? item.extra.noParent == true : true;
                        var onModeration = this.filterSelected.onModeration ? item.extra.moderation == true : true;
                        var byStatus = true;
                        var byType = true;

                        if(this.filterSelected.statuses.length) {
                            byStatus = this.filterSelected.statuses.indexOf(item.extra.status) !== -1;
                        }
                        if(this.filterSelected.types.length) {
                            byType = this.filterSelected.types.indexOf(item.extra.form_code) !== -1;
                        }

                        return tenderFilter && byType && byStatus && dateFilter && childrenFilter && responsiblesFilter && noParent && onModeration;
                    });
                } else {
                    return this.filterData.list
                }
            },
        },
        mounted() {
            this.historyJS = createHistory()
            let query={}

            this.isFilterTogglerVisible = this.screenSize('width') < 769

            window.addEventListener('resize', e => {
                this.isFilterTogglerVisible = this.screenSize('width') < 769
            })

            if(sessionstorage.getItem('global_id')) {
                query.global_id = sessionstorage.getItem('global_id')
            }

            if(window.location.hash.indexOf('/filters=') > 0) {
                var filters = JSON.parse(window.location.hash.split('/filters=')[1].split("%22").join('"'));

                for(var filter in filters) {
                    if(this.filterSelected[filter] !== undefined) {
                        if(filter == 'dateFrom' || filter == 'dateTo') {
                            this.filterSelected[filter] = new Date(filters[filter]);
                        } else {
                            this.filterSelected[filter] = filters[filter];
                        }
                    }
                }
            }

            axios
            .post(this.apiUrl+(this.code ? '/'+this.code : '')+(this.id>0 ? '/'+this.id : ''), query)
            .then(response => {
                if(response.data) {
                    this.filterData = response.data;
                }
                this.isLoading = false;
            });
        }
    }
</script>

<style lang="scss">
    .REM-list {
        .has-filters {
            @media screen and (max-width: 769px) {
                padding-top: 5rem!important
            }
        }

        .filter-toggler {
            display: none;

            @media screen and (max-width: 769px) {
                position: fixed;
                top: 52px;
                left: 0;
                width: 100%;
                z-index: 1000;
                padding: .75rem;
                display: block;

                .button {
                    width: 100%;
                    border-radius: 0;
                }
            }
        }

        .is-filter {
            display: none;

            &.is-toggler-hidden {
                display: block;
            }

            &.is-toggler-visible {
                
            }

            &.is-visible {
                display: block;
            }
            
            @media screen and (max-width: 769px) {
                padding-top: 3rem!important;
            }
        }
    }
</style>