<template>
    <div class="REM-map" v-bind:class="{ 'is-loaded': isLoaded }">
        <div class="autocompleteCard" ref="autocompleteCard" v-if="isAutocomplete">
            <input type="text" placeholder="Поиск адреса" ref="autocomplete" class="input">
        </div>

        <div class="userLocation" ref="userLocation">
            <button v-on:click="toUserPosition()"><div></div></button>
        </div>

        <div class="infoBox" ref="infoBox" v-if="selectedObject">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <a href="" class="icon is-small" v-on:click.prevent="closeInfoBox" style="position: absolute;right: 5px;top: 5px;">
                                <i class="mdi mdi-window-close"></i>
                            </a>
                            <a href="" v-on:click.prevent="openFromInfoBox">
                                <img v-bind:src="selectedObject.image" v-if="selectedObject.image">
                            </a>
                            <p>
                                <a href="" v-on:click.prevent="openFromInfoBox" class="title is-6" v-html="selectedObject.address"></a>
                            </p>
                            <a href="" class="icon is-medium" v-on:click.prevent="zoomInfoBox">
                                <i class="mdi mdi-magnify-plus-outline"></i>
                            </a>
                            <a href="" class="icon is-medium" v-on:click.prevent="openFromInfoBox">
                                <i class="mdi mdi-link-variant"></i>
                            </a>
                            <a href="" class="icon is-medium" v-on:click.prevent="openFromEditBox" v-if="selectedObject.can_edit">
                                <i class="mdi mdi-lead-pencil"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="map-wrapper" v-bind:class="{ 'fullscreen' : isFullscreen }" ref="map"></div>
        <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
    </div>
</template>

<script>
    import GoogleMapsApiLoader from 'google-maps-api-loader'
    import axios from 'axios'
    import moment from 'moment'

    export default {
        name: 'rem-map',
        props: {
            initialCenter: {
               type: Array
            },
            initialZoom: {
               type: Number,
               default: -1
            },
            isAutoload: {
                type: Boolean,
                default: false
            },
            isCurrentPosition: {
                type: Boolean,
                default: false
            },
            isAutocomplete: {
                type: Boolean,
                default: false
            },
            isAddressMarker: {
                type: Boolean,
                default: false
            },
            infoWindow: {
                type: String,
                default: '',
            },
            isFullscreen: {
                type: Boolean,
                default: false,
            }
        },
        data () {
            return {
                markers: [],
                mapMarkers: [],
                google: null,
                map: null,
                center: [],
                zoom: null,
                isLoading: true,
                isLoaded: false,
                lastRequest: '',
                address: '',
                addressMarker: null,
                setBoundsOnOpen: true,
                selectedObject: null
            }
        },
        methods: {
            initialize() {
                if(this.initialCenter) {
                    this.center=this.initialCenter
                }

                if(this.initialZoom>=0) {
                    this.zoom=this.initialZoom
                }

                this.map = new this.google.Map(this.$refs.map, {
                    zoom: this.zoom,
                    center: new this.google.LatLng(this.center[0], this.center[1]),
                    fullscreenControl: false,
                    mapTypeControl: false
                })

                this.map.addListener('tilesloaded', () => {
                    this.isLoaded=true
                })

                this.map.addListener('zoom_changed', () => {
                    this.zoom=this.map.getZoom()
                })

                this.setCurrentPosition()
                this.setAddressMarker()
                this.getMarkers()
                this.setAutocomplete()
            },
            toUserPosition() {
                if(navigator.geolocation) {
                    var google = this.google;
                    var map = this.map;

                    function success(position) {
                        var latlng=new google.LatLng(position.coords.latitude, position.coords.longitude);
                        map.setCenter(latlng);
                    }
                    function failure(error) {
                        console.log(error);
                    }

                    navigator.geolocation.getCurrentPosition(success,failure);
                }
            },
            setInfoWindow(marker, position) {
                if(this.initialCenter && this.infoWindow!='') {
                    if(this.initialCenter[0].toFixed(9) == position.lat().toFixed(9) && this.initialCenter[1].toFixed(9) == position.lng().toFixed(9)) {
                        var infowindow = new this.google.InfoWindow({
                            content: this.infoWindow
                        });

                        infowindow.open(this.map, marker);
                    }
                }
            },
            setCurrentPosition() {
                if(this.isCurrentPosition && !this.initialCenter) {
                    this.getCoords().then(coords => {
                        this.center = [
                            coords.latitude,
                            coords.longitude
                        ]

                        this.zoom = 18
                    }).catch((e)=>{
                        
                    })
                } else {
                    this.eventAddressMarkerChange()
                }
            },
            setAddressMarker() {
                if(this.isAddressMarker) {
                    this.addressMarker = new this.google.Marker({
                        position: new this.google.LatLng(this.center[0], this.center[1]),
                        draggable: true,
                        map: this.map,
                        zIndex: 2e9 
                    })

                    this.addressMarker.addListener('dragend', (e) => {
                        let markerPosition = {
                            lat: this.addressMarker.getPosition().lat(),
                            lng: this.addressMarker.getPosition().lng()
                        }

                        let geocoder=new google.maps.Geocoder
                    
                        geocoder.geocode({
                            'location': markerPosition
                        }, (results) =>{
                            this.address=this.formatedAddress(results[0].address_components)

                            this.center=[
                                markerPosition.lat,
                                markerPosition.lng
                            ]
                            
                            this.eventAddressMarkerChange()
                        })  
                    })
                }
            },
            openFromInfoBox () {
                window.open('/form/show/'+this.selectedObject.type+'/'+this.selectedObject.id, '_blank')
            },
            openFromEditBox() {
                window.open('/form/edit/'+this.selectedObject.type+'/'+this.selectedObject.id, '_blank')
            },
            closeInfoBox () {
                this.selectedObject=null
            },
            zoomInfoBox () {
                this.zoom=16
                this.center=this.selectedObject.position
            },
            setAutocomplete () {
                if(this.isAutocomplete) {
                    var autocomplete = new this.google.places.Autocomplete(
                        this.$refs.autocomplete, {
                            //types: ['address']
                        }
                    )

                    this.map.controls[this.google.ControlPosition.TOP_RIGHT].push(this.$refs.autocompleteCard)

                    autocomplete.setComponentRestrictions({
                        'country': 'ua'
                    })

                    autocomplete.setFields([
                        'geometry',
                        'address_components'
                    ])

                    autocomplete.addListener('place_changed', ()=>{
                        const place=autocomplete.getPlace()

                        this.center=[
                            place.geometry.location.lat(),
                            place.geometry.location.lng()
                        ]

                        this.zoom=18

                        this.address=this.formatedAddress(place.address_components);
                    })
                }
            },
            setMarkersVisibility (zoom) {
                this.mapMarkers.forEach(marker => {
                    if(marker.customInfo.zoom && parseInt(marker.customInfo.zoom) > 0) {
                        marker.setVisible(zoom >= marker.customInfo.zoom)
                    }

                    if(marker.customInfo.customIcon && parseInt(marker.customInfo.zoomCustomIcon) > 0) {
                        if(zoom >= marker.customInfo.zoomCustomIcon) {
                            marker.setIcon(marker.customInfo.customIcon);
                        }else{
                            marker.setIcon(marker.customInfo.standardIcon);
                        }
                    }
                })
            },
            setEditMarker(marker, position) {
                if(this.isAddressMarker && this.initialCenter) {
                    if(this.initialCenter[0].toFixed(9) == position.lat().toFixed(9) && this.initialCenter[1].toFixed(9) == position.lng().toFixed(9)) {
                        this.addressMarker.setIcon(marker.getIcon());

                        marker.setOpacity(.3)
                    }
                }
            },
            getCoords() {
                return new Promise((resolve, reject) =>
                    navigator.permissions ? navigator.permissions.query({
                        name: 'geolocation'
                    }).then(permission =>
                        permission.state === "granted" ? navigator.geolocation.getCurrentPosition(pos => resolve(pos.coords)) : resolve(null)
                    ) : reject(new Error("Permission API is not supported"))
                )
            },
            eventAddressMarkerChange() {
                if(this.isAddressMarker) {
                    this.$root.$emit('rem-map.change.address-marker', {
                        lat: this.center[0],
                        lng: this.center[1],
                        address: this.address
                    })
                }
            },
            getMarkers() {
                axios.post('/api/map', {
                    since: this.lastRequest
                })
                .then(response => {
                    if(response.data.markers.length) {
                        if(!this.isLoading) {
                            this.$snackbar.open({
                                message: 'Появились новые объекты, '+response.data.markers.length,
                                type: 'is-success'
                            })
                        }
                        
                        this.markers=response.data.markers;
                    }

                    this.lastRequest=moment().format("YYYY-MM-DDTHH:mm:ssZ")
                    this.isLoading=false
                    
                    if(this.isAutoload) {
                        setTimeout(()=>{
                            this.getMarkers()
                        }, 20000)
                    }
                }).catch((e)=>{
                    this.$snackbar.open({
                        message: e.response.data.message,
                        type: 'is-danger',
                        indefinite: true
                    })
                })
            },
            getHouseMarker(marker, position) {
                var size
                var zoomVisible=17
                
                if(marker.apartments>=200) {
                    size=3
                } else if(marker.apartments>=100 && marker.apartments<200) {
                    size=2
                } else {
                    size=1
                }

                var googleMarker = new this.google.Marker({
                    position: position,
                    map: this.map,
                    label: {
                        text: marker.apartments,
                        color: 'white',
                        fontSize: '10px',
                        fontWeight: 'bold'
                    },
                    icon: {
                        url: '/images/house'+marker.zone+'-'+size+'.png',
                        anchor: new this.google.Point(25, 25),
                    },
                    customInfo: {
                        type: marker.type,
                        zoom: zoomVisible
                    }
                })
                
                googleMarker.setVisible(this.zoom >= zoomVisible)

                googleMarker.addListener('click', () => {
                    this.selectedObject=marker
                });

                this.setEditMarker(googleMarker, position)
                this.setInfoWindow(googleMarker, position)

                return googleMarker
            },
            getObjectCircleMarker(position, radius) {
                var zoomVisible=16

                var circle = new google.maps.Circle({
                    strokeColor: '#000000',
                    strokeOpacity: .3,
                    strokeWeight: 1,
                    fillColor: '#000000',
                    fillOpacity: 0,
                    map: this.map,
                    center: position,
                    radius: radius,
                    customInfo: {
                        type: 'house-circle',
                        zoom: zoomVisible
                    }
                });

                circle.setVisible(this.zoom >= zoomVisible)

                return circle
            },
            getObjectMarker(marker, position) {
                var googleMarker = new this.google.Marker({
                    position: position,
                    map: this.map,
                    zIndex: 2e9-1,
                    icon: {
                        url: '/images/'+marker.type+'.png',
                        anchor: new this.google.Point(12, 12),
                    },
                    customInfo: {
                        type: marker.type
                    }
                })

                googleMarker.addListener('click', () => {
                    this.selectedObject=marker
                });

                this.setEditMarker(googleMarker, position)
                this.setInfoWindow(googleMarker, position)

                return [
                    this.getObjectCircleMarker(position, 300),
                    this.getObjectCircleMarker(position, 150),
                    googleMarker
                ]
            },
            getCompetitorMarker(marker, position) {
                const zoomCustomIcon=16
                const customIcon={
                    url: marker.icon,
                    scaledSize: new google.maps.Size(38, 63)
                }

                const standardIcon={
                    url: '/images/'+marker.type+'.png',
                    anchor: new this.google.Point(12, 12),
                }

                var googleMarker = new this.google.Marker({
                    position: position,
                    map: this.map,
                    icon: this.zoom>=zoomCustomIcon ? customIcon : standardIcon,
                    customInfo: {
                        type: marker.type,
                        zoomCustomIcon: zoomCustomIcon,
                        customIcon: customIcon,
                        standardIcon: standardIcon
                    }
                })

                googleMarker.addListener('click', () => {
                    this.selectedObject=marker
                });

                //googleMarker.setVisible(this.zoom >= zoomVisible)

                this.setEditMarker(googleMarker, position)
                this.setInfoWindow(googleMarker, position)

                return googleMarker
            },
            formatedAddress(address_components) {
                let city
                let house
                let street

                address_components.forEach(element => {
                    if(element.types[0]) {
                        if(element.types[0]=='locality') {
                            city=element.short_name
                        }

                        if(element.types[0]=='route') {
                            street=element.short_name
                        }

                        if(element.types[0]=='street_number') {
                            house=element.short_name
                        }
                    }
                });  

                return (street ? street : '') + (house ? ' ' + house : '') + (city ? (street || house ? ', ' : '') + city : '')
            }
        },
        mounted() {
            GoogleMapsApiLoader({
                libraries: ['places'],
                language: 'ru',
                region: 'RU',
                apiKey: 'AIzaSyBgpNhWVty4JbL_JtYwjrwreDUlKtDUl0w'
            }).then((google) => {
                this.google = google.maps
                this.center = [50.450100, 30.523399]
                this.zoom = 10

                this.initialize()
            })
        },
        watch: {
            markers: function (markers) {
                var bounds = new google.maps.LatLngBounds()
                var position
                var markerByType

                markers.forEach(marker => {
                    position = new this.google.LatLng(marker.position[0], marker.position[1])
                    const methodName='get'+marker.type.charAt(0).toUpperCase() + marker.type.slice(1)+'Marker'
                    
                    if(this[methodName]) {
                        markerByType = this[methodName](marker, position);
                        
                        if(Array.isArray(markerByType)) {
                            this.mapMarkers=this.mapMarkers.concat(markerByType)
                        }else{
                            this.mapMarkers.push(markerByType)
                        }

                        bounds.extend(position);
                    }
                });

                if(!this.isCurrentPosition && !this.initialCenter && this.setBoundsOnOpen) {
                    this.map.fitBounds(bounds)
                    this.setBoundsOnOpen=false
                }

                this.setMarkersVisibility(this.zoom)
            },
            zoom: function(zoom) {
                this.map.setZoom(zoom)

                this.setMarkersVisibility(zoom)

                this.$root.$emit('rem-map.change.zoom', zoom)
            },
            address: function(address) {
                this.$root.$emit('rem-map.change.address', address)
            },
            center: function (center) {
                let position=new this.google.LatLng(center[0], center[1])

                this.map.setCenter(position)
                
                if(this.isAddressMarker) {
                    this.addressMarker.setPosition(position)

                    let geocoder=new google.maps.Geocoder
                    
                    geocoder.geocode({
                        'location': {
                            lat: center[0],
                            lng: center[1]
                        }
                    }, (results) =>{
                        this.address=(results[0] ? this.formatedAddress(results[0].address_components) : '')

                        this.eventAddressMarkerChange()
                    });
                }

                this.$root.$emit('rem-map.change.center', center)
            },
        }
    }
</script>
<style lang="scss">
    .REM-map{
        position: relative;

        .map-wrapper {
            width: 100%;
            height: 600px;
            
            &.fullscreen {
                height: calc(100vh - 52px)
            }
        }

        &.is-loaded {
            .autocompleteCard {
                display: block;
                opacity: 1;
            }
        }
        
        .autocompleteCard {
            display: none;
            opacity: 0;
            transition: opacity 1s;
            width: 100%;
            padding: 10px;
            padding-top: 15px;

            input {
                width: 100%;
                color: #888888;
            }
        }

        .infoBox {
            position: absolute;
            z-index: 1000;
            left: 10px;
            bottom: 10px;
            width: 30%;
            min-width: 300px;
            
            .content {
                .icon:not(.is-small) {
                    i {
                        &:before {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .userLocation {
            position: absolute;
            z-index: 1000;
            right: 7px;
            bottom: 190px;

            button {
                background-color: rgb(255, 255, 255);
                border: none;
                outline: none;
                width: 28px;
                height: 28px;
                border-radius: 2px;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
                cursor: pointer;
                margin-right: 10px;
                padding: 0px;
                div {
                    margin: 5px;
                    width: 18px;
                    height: 18px;
                    background-image: url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png);
                    background-size: 180px 18px;
                    background-position: 0px 0px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
</style>