<template>
    <div class="REM-map" v-bind:class="{ 'is-loaded': isLoaded }">

        <img src="/images/address-marker.png" v-if="isAddressMarker && !isMapDragging" class="addressMarker">
        <img src="/images/address-marker-cross.png" v-if="isAddressMarker && isMapDragging"  class="addressMarker">

        <div class="autocompleteCard" ref="autocompleteCard" v-if="isAutocomplete">
            <input type="text" :placeholder="translates.searchAddress" ref="autocomplete" class="input is-100">
        </div>

        <div class="context-form" v-bind:class="{ 'is-inline': !isFullscreen }" v-if="contextFormComponent">
            <button type="button" class="modal-close is-large" v-on:click.prevent="contextFormClose()"></button>
            <div class="title" v-text="contextFormComponentName"></div>
            <component v-bind:is="contextFormComponent" v-bind="contextFormComponentProperties"></component>
        </div>

        <div class="navbar-dropdown context-menu" v-if="contextMenuIsOpen && contextFormMenu" v-bind:style="{ top: contextMenuPosition.top, left: contextMenuPosition.left }">
            <a class="navbar-item" v-for="(form, index) in contextFormMenu" :key="index" v-text="form.title" v-on:click.prevent="contextFormShow(form)"></a>
        </div>

        <div class="navbar-dropdown context-menu" v-if="contextZoneMenuIsOpen" v-bind:style="{ top: contextZoneMenuPosition.top, left: contextZoneMenuPosition.left }">
            <a class="navbar-item" v-for="(form, index) in contextZoneFormMenu" :key="index" v-on:click.prevent="contextZoneSave(form)">
                <img v-bind:src="'/images/house'+form.code+'-1.png'">&nbsp;<span v-text="form.title"></span>
            </a>
        </div>

        <div class="userLocation" ref="userLocation">
            <button v-on:click="toUserPosition()"><div></div></button>
        </div>

        <div class="infoBox" ref="infoBox" v-if="isInfoBox && selectedObject" style="width: 40%">
            <div class="card">
                <div class="card-content">
                    <div class="columns is-variable is-2">
                        <div class="column is-5" v-if="selectedObject.image">
                            <div class="image">
                                <a :href="'/form/show/'+selectedObject.type+'/'+selectedObject.id" target="_blank">
                                    <img v-bind:src="selectedObject.image">
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="title is-5">
                                <div><a :href="'/form/show/'+selectedObject.type+'/'+selectedObject.id" target="_blank" v-text="selectedObject.address"></a></div>
                                <small v-text="getTypeName(selectedObject.type)" style="opacity: .5"></small>
                                <p v-if="selectedObject.values && selectedObject.values.length" v-for="value in selectedObject.values">
                                    <small v-html="value"></small>
                                </p>
                            </div>
                            <div class="columns is-gapless is-mobile">
                                <div class="column is-12-mobile status">
                                    <img class="competitor" v-bind:src="selectedObject.icon" v-if="selectedObject.icon" style="max-width: 1.5rem">
                                    <span class="tag is-primary" v-if="selectedObject.status" v-bind:style="{ backgroundColor: (selectedObject.status.color ? '#'+selectedObject.status.color : '#000000') }">{{ selectedObject.status.name }}</span>
                                </div>
                                <div class="column has-text-right column-icons">
                                    <a href="" class="icon" v-on:click.prevent="infoBoxCopyPosition()" title="Скопировать координаты объекта в буфер обмена">
                                        <i class="mdi mdi-24px mdi-content-copy"></i>
                                    </a>
                                    <a href="" class="icon" v-on:click.prevent="listZoomIn(selectedObject)" title="Приблизить">
                                        <i class="mdi mdi-24px mdi-magnify-plus-outline"></i>
                                    </a>
                                    <a :href="'/form/edit/'+selectedObject.type+'/'+selectedObject.id" target="_blank" class="icon" title="Редактировать">
                                        <i class="mdi mdi-24px mdi-lead-pencil"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <a href="" class="icon is-small" v-on:click.prevent="closeInfoBox" style="position: absolute;right: 5px;top: 5px;">
                                <i class="mdi mdi-window-close"></i>
                            </a>
                            <a href="" v-on:click.prevent="openFromInfoBox">
                                <img v-bind:src="selectedObject.image" v-if="selectedObject.image">
                            </a>
                            <p>
                                <a href="" v-on:click.prevent="openFromInfoBox" class="title is-6" v-html="selectedObject.address"></a>
                            </p>
                            <a href="" class="icon is-medium" v-on:click.prevent="zoomInfoBox">
                                <i class="mdi mdi-magnify-plus-outline"></i>
                            </a>
                            <a href="" class="icon is-medium" v-on:click.prevent="openFromInfoBox">
                                <i class="mdi mdi-link-variant"></i>
                            </a>
                            <a href="" class="icon is-medium" v-on:click.prevent="editFromInfoBox" v-if="selectedObject.can_edit">
                                <i class="mdi mdi-lead-pencil"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            -->
        </div>

        <div class="columns is-gapless is-mobile columns-map" v-bind:class="{ 'fullscreen' : isFullscreen }">
            <div class="filter-toggler" v-if="isFilterTogglerVisible">
                <button class="button is-link" v-on:click="isFilterVisible=!isFilterVisible">
                    <span class="icon">
                        <i class="mdi mdi-filter"></i>
                    </span>
                    <span v-if="!isFilterVisible">Показать фильтр</span>
                    <span v-if="isFilterVisible">Скрыть фильтр</span>
                </button>
            </div>
            <div class="column is-narrow column-filter" v-if="isFullscreen" v-bind:class="{ 'is-toggler-visible': isFilterTogglerVisible, 'is-toggler-hidden': !isFilterTogglerVisible, 'is-visible': isFilterVisible }">
                <div class="wrapper">
                    <div class="filter-group" v-if="filter.statuses">
                        <h4 class="title is-6" v-text="translates.statuses"></h4>
                        <div class="field" v-for="(item, code) in filter.statuses" v-bind:key="code">
                            <b-checkbox :native-value="code" v-model="filterSelected.statuses">
                                {{ item }}
                            </b-checkbox>
                        </div>
                        <div class="field">
                            <b-checkbox v-model="isSelectAllStatuses">
                                {{ translates.allStatuses }}
                            </b-checkbox>
                        </div>
                    </div>
                    <div class="filter-group" v-if="filter.types">
                        <h4 class="title is-6" v-text="translates.types"></h4>
                        <div class="field" v-for="(item, code) in filter.types" v-bind:key="code">
                            <b-checkbox :native-value="code" v-model="filterSelected.types" :disabled="markerZoomVisible[code] && zoom<markerZoomVisible[code]">
                                {{ item }}
                            </b-checkbox>
                        </div>
                        <div class="field">
                            <b-checkbox v-model="isSelectAllTypes">
                                {{ translates.allTypes }}
                            </b-checkbox>
                        </div>
                    </div>

                    <div class="filter-group" v-if="filter.cities">
                        <h4 class="title is-6" v-text="translates.cities"></h4>
                        <div class="field" v-for="(item, key) in filter.cities" v-bind:key="key"><!--v-on:click="setCityMarkersIntoView"-->
                            <b-checkbox :native-value="item" v-model="filterSelected.cities">
                                {{ item }}
                            </b-checkbox>
                        </div>
                        <div class="field">
                            <b-checkbox v-model="isSelectAllCities">
                                {{ translates.allCities }}
                            </b-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4 column-list" v-if="isFullscreen">
                <div class="card" v-for="item in markerList" v-bind:key="item.id" v-on:click="listCenter(item)" v-on:mouseenter="listHighLight(item)" v-on:mouseleave="listHighLight()" v-bind:class="{ 'hovered': markerHovered && item.id==markerHovered.id}">
                    <div class="card-content">
                        <div class="columns is-variable is-2">
                            <div class="column is-5" v-if="item.image">
                                <div class="image">
                                    <a :href="'/form/show/'+item.type+'/'+item.id" target="_blank">
                                        <img v-bind:src="item.image">
                                    </a>
                                </div>
                            </div>
                            <div class="column">
                                <div class="title is-5">
                                    <div><a :href="'/form/show/'+item.type+'/'+item.id" target="_blank" v-text="item.address"></a></div>
                                    <small v-text="getTypeName(item.type)"></small>
                                </div>
                                <div class="columns is-gapless is-mobile is-multiline">
                                    <div class="column is-12-mobile status">
                                        <img class="competitor" v-bind:src="item.icon" v-if="item.icon">
                                        <span class="tag is-primary" v-if="item.status" v-bind:style="{ backgroundColor: (item.status.color ? '#'+item.status.color : '#000000') }">{{ item.status.name }}</span>
                                    </div>
                                    <div class="column has-text-right column-icons">
                                        <a href="" class="icon" v-on:click.prevent="listZoomIn(item)">
                                            <i class="mdi mdi-24px mdi-magnify-plus-outline"></i>
                                        </a>
                                        <a :href="'/form/edit/'+item.type+'/'+item.id" target="_blank" class="icon">
                                            <i class="mdi mdi-24px mdi-lead-pencil"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="not-found" v-if="!isLoading && !markerList.length">
                    <div class="content has-text-centered">
                        <p v-text="translates.notFound"></p>
                        <p><a href="" v-on:click.prevent="listShowAll" v-text="translates.showAll"></a></p>
                    </div>
                </div>
            </div>
            <div class="column column-map">
                <div class="map-wrapper" ref="map"></div>
            </div>
            <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
        </div>
    </div>
</template>

<script>
    import GoogleMapsApiLoader from 'google-maps-api-loader'
    import axios from 'axios'
    import moment from 'moment'
    import RemForm from './RemForm.vue'
    import createHistory from 'history/createBrowserHistory'
    import copy from 'copy-to-clipboard'

    export default {
        name: 'rem-map',
        components: {
            'rem-form': RemForm
        },
        props: {
            initialCenter: {
                type: Array
            },
            initialZoom: {
                type: Number,
                default: -1
            },
            initialFilterSelected: {
                type: Array
            },
            isAutoload: {
                type: Boolean,
                default: false
            },
            isCurrentPosition: {
                type: Boolean,
                default: false
            },
            isAutocomplete: {
                type: Boolean,
                default: false
            },
            isInfoBox: {
                type: Boolean,
                default: false
            },
            isAddressMarker: {
                type: Boolean,
                default: false
            },
            infoWindow: {
                type: String,
                default: '',
            },
            isFullscreen: {
                type: Boolean,
                default: false,
            },
            isContextMenu: {
                type: Boolean,
                default: false,
            },
            formDataId: {
                type: Number,
                default: null
            }
        },
        data () {
            return {
                translates: {},
                markersRaw: [],
                markers: [],
                mapMarkers: [],
                google: null,
                map: null,
                center: [],
                zoom: null,
                isLoading: true,
                isLoaded: false,
                lastRequest: '',
                address: '',
                city: '',
                addressMarker: null,
                contextMarker: null,
                contextAddress: null,
                contextFormComponent: null,
                contextFormComponentProperties: null,
                contextFormMenu: [],
                contextMenuIsOpen: false,
                contextMenuPosition: {},
                contextZoneMenuIsOpen: false,
                contextZoneMenuPosition: {},
                contextZoneFormMenu: [
                    {
                        title: 'Зона 1',
                        code: '01'
                    },
                    {
                        title: 'Зона 2',
                        code: '02'
                    },
                    {
                        title: 'Зона 3',
                        code: '03'
                    },
                    {
                        title: 'Вне зоны',
                        code: '04'
                    },
                ],
                highlightMarker: null,
                markerHovered: null,
                setBoundsOnOpen: true,
                selectedObject: null,
                markerZoomVisible: {
                    house: 17,
                    circle: 16,
                    competitor: 13
                },
                mapBounds: null,
                mapBoundsTimeout: null,
                mapCenterChangeTimeout: null,
                filter: {
                    types: null,
                    statuses: null,
                    cities: null
                },
                filterSelected: {
                    types: [],
                    statuses: [],
                    cities: []
                },
                filterSelectedReset: {
                    types: null,
                    statuses: null,
                    cities: []
                },
                isMapDragging: false,
                historyJS: null,
                history: {
                    zoom: null,
                    lat: null,
                    lng: null
                },
                canChangeBounds: false,
                isFilterTogglerVisible: false,
                isFilterVisible: false,
                isFilterVisible: false,
                isFilterTogglerVisible: false,
                isSelectAllTypes: false,
                isSelectAllStatuses: false,
                isSelectAllCities: false,
                currentHash: '',
            }
        },
        methods: {
            screenSize(type) {
                let w=window,d=document,e=d.documentElement,g=d.getElementsByTagName('body')[0],x=w.innerWidth||e.clientWidth||g.clientWidth,y=w.innerHeight||e.clientHeight||g.clientHeight

                return type=='width' ? x : y;
            },
            setCityMarkersIntoView () {
                this.$nextTick(() => {
                    this.listShowAllFiltered()

                })
            },
            contextZoneSave(form) {
                let size

                if(this.contextZoneMenuPosition.marker.apartments>=200) {
                    size=3
                } else if(this.contextZoneMenuPosition.marker.apartments>=100 && this.contextZoneMenuPosition.marker.apartments<200) {
                    size=2
                } else {
                    size=1
                }

                this.contextZoneMenuIsOpen = false

                this.contextZoneMenuPosition.googleMarker.setIcon({
                    url: '/images/house'+form.code+'-'+size+'.png',
                    anchor: new this.$root.google.Point(25, 25),
                })

                for(var i in this.markersRaw) {
                    if(this.markersRaw[i].id == this.contextZoneMenuPosition.id) {
                        this.markersRaw[i].zone = form.code;
                        break;
                    }
                }

                axios.post('/api/save/zone', {
                    house: this.contextZoneMenuPosition.id,
                    value: form.code
                })
                    .then(response => {
                        this.$snackbar.open({
                            message: 'Зона сохранена',
                            type: 'is-success'
                        })
                    })
            },
            contextMenuClose() {
                this.contextMenuIsOpen = false
                this.selectedObject = null
                this.contextZoneMenuIsOpen = false
                this.contextMarker.setVisible(false)
                this.contextAddress = null
            },
            contextFormClose() {
                this.contextMenuClose()
                this.contextFormComponent = null

                delete this.$root.$axiosSchemesAwait
            },
            contextFormShow(form) {
                let geocoder=new google.maps.Geocoder

                this.contextMenuIsOpen = false
                this.selectedObject = null
                this.contextZoneMenuIsOpen = false

                geocoder.geocode({
                    'location': this.contextMarker.getPosition()
                }, (results) =>{
                    let presetValues={}

                    presetValues[form.addressField]={
                        lat: this.contextMarker.getPosition().lat(),
                        lng: this.contextMarker.getPosition().lng(),
                        address: this.formatedAddress(results[0].address_components),
                        presetMap: true
                    }

                    this.contextFormComponentProperties = {
                        code: form.code,
                        presetValues: presetValues,
                        reload: true,
                        id: -1
                    }

                    this.contextFormComponent=RemForm
                    this.contextFormComponentName=form.title

                    if(!this.isFullscreen) {
                        const latlng=new this.$root.google.LatLng(this.contextMarker.getPosition().lat(), this.contextMarker.getPosition().lng()-0.003561973572)

                        this.map.setCenter(latlng)
                    }
                })
            },
            initialize() {
                this.center = [50.450100, 30.523399]
                this.zoom = 10

                if(window.location.hash) {
                    const hash = window.location.hash.split('/')

                    if(hash[0]=='#' && hash.length>=4) {
                        hash.forEach(element => {
                            const v=element.split('=')

                            if(v.length==2 && v[0] != 'filters') {
                                if(v[0]=='zoom') {
                                    this.zoom = parseInt(v[1])
                                }

                                if(v[0]=='lat') {
                                    this.center[0] = parseFloat(v[1])
                                }

                                if(v[0]=='lng') {
                                    this.center[1] = parseFloat(v[1])
                                }
                            }
                        })

                        this.setBoundsOnOpen = false
                    } else {
                        this.canChangeBounds = true
                    }

                    if(this.isFullscreen && window.location.hash && window.location.hash.indexOf('/filters=') > 0) {
                        var filters = JSON.parse(decodeURI(window.location.hash).split('/filters=')[1].split("%22").join('"'));

                        for(var filter in filters) {
                            if(this.filterSelected[filter] !== undefined) {
                                this.filterSelected[filter] = filters[filter];
                            }
                        }
                    }
                } else {
                    this.canChangeBounds = true
                }

                if(this.initialCenter) {
                    this.center=this.initialCenter
                }

                if(this.initialZoom>=0) {
                    this.zoom=this.initialZoom
                }

                this.map = new this.$root.google.Map(this.$refs.map, {
                    zoom: this.zoom,
                    center: new this.$root.google.LatLng(this.center[0], this.center[1]),
                    fullscreenControl: false,
                    mapTypeControlOptions: {
                        position: google.maps.ControlPosition.LEFT_BOTTOM
                    },
                    //mapTypeControl: false,
                    animatedZoom: false,
                    styles: [{"featureType": "administrative","elementType": "geometry","stylers": [{"visibility": "off"}]},{"featureType": "poi","stylers": [{"visibility": "off"}]},{"featureType": "road","elementType": "labels.icon","stylers": [{"visibility": "off"}]},{"featureType": "transit","stylers": [{"visibility": "off"}]}]
                })

                this.map.addListener('tilesloaded', () => {
                    if(this.isLoaded) {
                        clearTimeout(this.mapBoundsTimeout)

                        this.mapBoundsTimeout=setTimeout(()=>{
                            this.markers=this.filterMarkersByMapBound()

                            this.mapBounds=this.map.getBounds()
                            this.setMarkersVisibility(this.map.getZoom())
                        }, 300)
                    }
                })

                this.map.addListener('zoom_changed', () => {
                    if(this.isLoaded) {
                        this.zoom=this.map.getZoom()

                        clearTimeout(this.mapBoundsTimeout)

                        this.mapBoundsTimeout=setTimeout(()=>{
                            this.markers=this.filterMarkersByMapBound()

                            this.mapBounds=this.map.getBounds()
                            this.setMarkersVisibility(this.map.getZoom())
                        }, 300)
                    }
                })

                this.map.addListener('bounds_changed', () => {
                    if(this.isLoaded) {
                        clearTimeout(this.mapBoundsTimeout)

                        this.mapBoundsTimeout=setTimeout(()=>{
                            this.markers=this.filterMarkersByMapBound()

                            this.mapBounds=this.map.getBounds()
                            this.setMarkersVisibility(this.map.getZoom())
                        }, 300)
                    }
                })

                this.map.addListener('dragend', () => {
                    if(this.isLoaded) {
                        clearTimeout(this.mapBoundsTimeout)

                        this.mapBoundsTimeout=setTimeout(()=>{
                            this.markers=this.filterMarkersByMapBound()

                            this.mapBounds=this.map.getBounds()
                            this.setMarkersVisibility(this.map.getZoom())
                        }, 300)
                    }
                })

                this.$root.google.event.addListenerOnce(this.map, 'idle', () => {
                    this.setCurrentPosition()
                    this.setAddressMarker()
                    this.getMarkers()
                    this.setHighlightMarker()
                    this.setAutocomplete()
                    this.setContextMenu()
                    this.setHistory()
                })
            },
            toUserPosition() {
                if(navigator.geolocation) {
                    var google = this.$root.google
                    var map = this.map

                    function success(position) {
                        var latlng=new this.$root.google.LatLng(position.coords.latitude, position.coords.lngitude)
                        map.setCenter(latlng)
                    }
                    function failure(error) {
                        console.log(error)
                    }

                    navigator.geolocation.getCurrentPosition(success,failure)
                }
            },
            setHistory() {
                if(this.isFullscreen) {
                    this.$root.google.event.addListener(this.map, 'zoom_changed', (e) => {
                        this.history.zoom = this.map.getZoom()
                    })

                    this.$root.google.event.addListener(this.map, 'center_changed', (e) => {
                        clearTimeout(this.mapCenterChangeTimeout)

                        const lat = this.map.getCenter().lat()
                        const lng = this.map.getCenter().lng()

                        this.mapCenterChangeTimeout = setTimeout(()=>{
                            this.history.lat = lat
                            this.history.lng = lng
                        }, 300)
                    })
                }
            },
            setInfoWindow(marker, position) {
                // if(this.initialCenter && this.infoWindow!='') {
                //     if(this.initialCenter[0].toFixed(9) == position.lat().toFixed(9) && this.initialCenter[1].toFixed(9) == position.lng().toFixed(9)) {
                //         var infowindow = new this.$root.google.InfoWindow({
                //             content: this.infoWindow
                //         })

                //         infowindow.open(this.map, marker)
                //     }
                // }
            },
            setContextMenu() {
                if(this.isContextMenu) {
                    axios.post('/api/map/menu')
                        .then(response => {
                            if(response.data.forms) {
                                this.contextFormMenu = response.data.forms;
                            }
                        });

                    this.contextMarker = new this.$root.google.Marker({
                        position: new this.$root.google.LatLng(this.center[0], this.center[1]),
                        draggable: false,
                        map: this.map,
                        zIndex: 2e9
                    })

                    this.contextMarker.setVisible(false)

                    this.$root.google.event.addListener(this.map, 'rightclick', (e) => {
                        this.contextFormComponent = null
                        this.contextZoneMenuIsOpen = false
                        this.selectedObject = null

                        delete this.$root.$axiosSchemesAwait

                        if(this.contextFormMenu.length && this.zoom>=17) {
                            this.contextMarker.setPosition(e.latLng)
                            this.contextMarker.setVisible(true)

                            this.contextMenuIsOpen = true

                            var mouseEvent = e.wa !== undefined ? e.wa : (e.ra !== undefined ? e.ra : e.xa);

                            mouseEvent = mouseEvent === undefined ? e.ya : mouseEvent;
                            mouseEvent = mouseEvent === undefined ? e.tb : mouseEvent;

                            this.contextMenuPosition = {
                                top: mouseEvent.clientY+'px',
                                left: mouseEvent.clientX+'px'
                            }
                        }
                    })

                    this.$root.google.event.addListener(this.map, 'click', (e) => {
                        this.contextFormClose()
                    })

                    this.$root.google.event.addListener(this.map, 'dragstart', (e) => {
                        this.contextFormClose()
                    })
                }
            },
            setCurrentPosition() {
                if(this.isCurrentPosition && !this.initialCenter) {
                    this.getCoords().then(coords => {
                        this.center = [
                            coords.latitude,
                            coords.lngitude
                        ]

                        this.zoom = 18
                    }).catch((e)=>{

                    })
                } else {
                    this.eventAddressMarkerChange()
                }
            },
            setHighlightMarker() {
                this.highlightMarker = new this.$root.google.Marker({
                    position: new this.$root.google.LatLng(this.center[0], this.center[1]),
                    map: this.map,
                    zIndex: -1,
                    icon: {
                        url: '/images/highlight.png',
                        anchor: new this.$root.google.Point(28, 28),
                    }
                })

                this.highlightMarker.setVisible(false)
            },
            setAddressMarker() {
                if(this.isAddressMarker) {
                    // this.addressMarker = new this.$root.google.Marker({
                    //     position: new this.$root.google.LatLng(this.center[0], this.center[1]),
                    //     draggable: true,
                    //     map: this.map,
                    //     zIndex: 2e9
                    // })

                    // this.addressMarker.addListener('dragend', (e) => {
                    //     let markerPosition = {
                    //         lat: this.addressMarker.getPosition().lat(),
                    //         lng: this.addressMarker.getPosition().lng()
                    //     }

                    //     let geocoder=new google.maps.Geocoder

                    //     geocoder.geocode({
                    //         'location': markerPosition
                    //     }, (results) =>{
                    //         this.address=this.formatedAddress(results[0].address_components)

                    //         this.center=[
                    //             markerPosition.lat,
                    //             markerPosition.lng
                    //         ]

                    //         this.eventAddressMarkerChange()
                    //     })
                    // })

                    this.$root.google.event.addListener(this.map, 'dragend', () => {
                        this.isMapDragging=false

                        let markerPosition = {
                            lat: this.map.getCenter().lat(),
                            lng: this.map.getCenter().lng()
                        }

                        let geocoder=new google.maps.Geocoder

                        geocoder.geocode({
                            'location': markerPosition
                        }, (results) =>{
                            this.address=this.formatedAddress(results[0].address_components)
                            this.city=this.formatedAddress(results[0].address_components, 'city')

                            this.center=[
                                markerPosition.lat,
                                markerPosition.lng
                            ]

                            this.eventAddressMarkerChange()
                        })
                    })

                    this.$root.google.event.addListener(this.map, 'dragstart', () => {
                        this.isMapDragging=true
                    })

                }
            },
            infoBoxCopyPosition () {
                copy(this.selectedObject.position[0]+','+this.selectedObject.position[1])

                this.$snackbar.open({
                    message: 'Координаты скопированы в буфер обмена',
                    type: 'is-success'
                })
            },
            // openFromInfoBox () {
            //     window.open('/form/show/'+this.selectedObject.type+'/'+this.selectedObject.id, '_blank')
            // },
            // editFromInfoBox() {
            //     window.open('/form/edit/'+this.selectedObject.type+'/'+this.selectedObject.id, '_blank')
            // },
            // closeInfoBox () {
            //     this.selectedObject=null
            // },
            // zoomInfoBox () {
            //     this.zoom=19
            //     this.center=this.selectedObject.position
            // },
            listZoomIn(item) {
                this.zoom=this.markerZoomVisible[item.type] ? this.markerZoomVisible[item.type] : 16

                this.center=item.position
            },
            listShowAll(markerList) {
                let bounds = new google.maps.LatLngBounds()
                let position

                this.markers.forEach(marker => {
                    position = new this.$root.google.LatLng(marker.position[0], marker.position[1])

                    bounds.extend(position)
                })

                this.map.fitBounds(bounds)

                this.filterSelected=this.filterSelectedReset
            },
            listShowAllFiltered() {
                if(this.canChangeBounds) {
                    let bounds = new google.maps.LatLngBounds()
                    let position

                    this.markerListNoBounds.forEach(marker => {
                        position = new this.$root.google.LatLng(marker.position[0], marker.position[1])

                        bounds.extend(position)
                    })

                    this.map.fitBounds(bounds)
                }
            },
            listHighLight(item) {
                if(item) {
                    const position=new this.$root.google.LatLng(item.position[0], item.position[1])

                    this.highlightMarker.setPosition(position)
                    this.highlightMarker.setVisible(true)
                } else {
                    this.markerHovered=null
                    this.highlightMarker.setVisible(false)
                }
            },
            listCenter(item) {
                this.center=item.position
            },
            setAutocomplete () {
                if(this.isAutocomplete) {
                    var autocomplete = new this.$root.google.places.Autocomplete(
                        this.$refs.autocomplete, {
                            //types: ['address']
                        }
                    )

                    this.map.controls[this.$root.google.ControlPosition.TOP_RIGHT].push(this.$refs.autocompleteCard)

                    autocomplete.setComponentRestrictions({
                        'country': 'ua'
                    })

                    autocomplete.setFields([
                        'geometry',
                        'address_components'
                    ])

                    autocomplete.addListener('place_changed', ()=>{
                        const place=autocomplete.getPlace()

                        this.center=[
                            place.geometry.location.lat(),
                            place.geometry.location.lng()
                        ]

                        this.zoom=18

                        this.address=this.formatedAddress(place.address_components)
                        this.city=this.formatedAddress(place.address_components, 'city')
                    })
                }
            },
            setMarkersVisibility (zoom) {
                this.mapMarkers.forEach(marker => {
                    if(this.mapBounds && !this.mapBounds.contains(marker.customInfo.position)) {
                        marker.setVisible(false)
                    } else {
                        let isVisible=true

                        if(marker.customInfo.zoom && parseInt(marker.customInfo.zoom) > 0) {
                            isVisible=zoom >= marker.customInfo.zoom
                        }

                        if(marker.customInfo.customIcon && parseInt(marker.customInfo.zoomCustomIcon) > 0) {
                            if(zoom >= marker.customInfo.zoomCustomIcon) {
                                marker.setIcon(marker.customInfo.customIcon)
                            }else{
                                if(marker.customInfo.type=='competitor') {
                                    marker.setIcon({
                                        url: marker.customInfo.icons[this.getSizeNameByZoom(zoom)],
                                        anchor: new this.$root.google.Point(12, 12),
                                    })
                                }
                            }
                        }

                        if(marker.customInfo.type=='object' && marker.customInfo.icons) {
                            if(marker.customInfo.customIcon && parseInt(marker.customInfo.zoomCustomIcon) > 0) {
                                if(zoom >= marker.customInfo.zoomCustomIcon) {
                                    marker.setIcon(marker.customInfo.customIcon)

                                    let label = marker.getLabel()
                                    label.color='rgba(255, 255, 255, 1)'

                                    marker.setLabel(label)
                                } else {
                                    marker.setIcon({
                                        url: marker.customInfo.icons[this.getSizeNameByZoom(zoom)],
                                        anchor: new this.$root.google.Point(12, 12),
                                    })

                                    let label = marker.getLabel()
                                    label.color='rgba(255, 255, 255, 0)'

                                    marker.setLabel(label)
                                }
                            }
                        }

                        if(isVisible && marker.customInfo.status) {
                            isVisible=this.filterSelected.statuses.indexOf(marker.customInfo.status)!==-1
                        }

                        if(isVisible && marker.customInfo.type!='house-circle') {
                            isVisible=this.filterSelected.types.indexOf(marker.customInfo.type)!==-1
                        }

                        if(isVisible && marker.customInfo.type=='house-circle' && this.filterSelected.types.indexOf('object')===-1) {
                            isVisible=false
                        }

                        if(isVisible && marker.customInfo.city) {
                            isVisible=(!this.filterSelected.cities.length || (this.filterSelected.cities.length && this.filterSelected.cities.indexOf(marker.customInfo.city)!==-1))
                        }

                        marker.setVisible(isVisible)
                    }
                })
            },
            getSizeNameByZoom(zoom) {
                let sizeName

                if(zoom>=0 && zoom<=13) {
                    sizeName='small'
                }

                if(zoom>=14 && zoom<=15) {
                    sizeName='medium'
                }

                if(zoom>=16) {
                    sizeName='large'
                }

                return sizeName
            },
            setEditMarker(marker, position) {
                // if(this.isAddressMarker && this.initialCenter) {
                //     if(this.initialCenter[0].toFixed(9) == position.lat().toFixed(9) && this.initialCenter[1].toFixed(9) == position.lng().toFixed(9)) {
                //         this.addressMarker.setIcon(marker.getIcon())

                //         marker.setOpacity(.3)
                //     }
                // }
            },
            getCoords() {
                return new Promise((resolve, reject) =>
                    navigator.permissions ? navigator.permissions.query({
                        name: 'geolocation'
                    }).then(permission =>
                        permission.state === "granted" ? navigator.geolocation.getCurrentPosition(pos => resolve(pos.coords)) : resolve(null)
                    ) : reject(new Error("Permission API is not supported"))
                )
            },
            eventAddressMarkerChange() {
                if(this.isAddressMarker) {
                    this.$root.$emit('rem-map.change.address-marker', {
                        lat: this.center[0],
                        lng: this.center[1],
                        address: this.address,
                        city: this.city
                    })
                }
            },
            setMarkerHover(googleMarker, marker) {
                this.$root.google.event.addListener(googleMarker, 'click', (e) => {
                    // if((marker.type == 'competitor' || marker.type == 'house') && !this.formDataId) {
                    //     window.open('/form/show/'+marker.type+'/'+marker.id, '_blank');
                    // }

                    this.markerHovered=marker
                    this.listHighLight(marker)

                    this.$nextTick(() => {
                        let card=this.$el.querySelector('.card.hovered')

                        if(card) {
                            card.scrollIntoView({
                                behavior: 'auto',
                                block: 'center',
                                inline: 'nearest'
                            })
                        }
                    })
                })

                this.$root.google.event.addListener(googleMarker, 'rightclick', (e) => {

                    if(marker.type == 'house' && this.formDataId) {
                        this.contextZoneMenuIsOpen = true
                        this.contextMenuIsOpen = false
                        this.selectedObject = null
                        this.contextMarker.setVisible(false)

                        var mouseEvent = e.wa !== undefined ? e.wa : (e.ra !== undefined ? e.ra : e.xa);

                        mouseEvent = mouseEvent === undefined ? e.ya : mouseEvent;
                        mouseEvent = mouseEvent === undefined ? e.tb : mouseEvent;

                        this.contextZoneMenuPosition = {
                            top: mouseEvent.clientY+'px',
                            left: mouseEvent.clientX+'px',
                            id: marker.id,
                            googleMarker: googleMarker,
                            marker: marker
                        }
                    }
                })

                // this.$root.google.event.addListener(googleMarker, 'mouseout', () => {
                //     this.markerHovered=null
                //     this.listHighLight()
                // })
            },
            filterMarkersByMapBound() {
                let filtered = []

                if(this.markersRaw.length) {
                    const bounds = this.map.getBounds()

                    this.markersRaw.forEach(marker => {
                        const position=new this.$root.google.LatLng(marker.position[0], marker.position[1])

                        if(bounds.contains(position)) {
                            if((marker.type!='house' && marker.type!='circle' && marker.type!='competitor') ||
                                (marker.type=='house' && this.zoom>=this.markerZoomVisible.house) ||
                                (marker.type=='circle' && this.zoom>=this.markerZoomVisible.circle) ||
                                (marker.type=='competitor' && this.zoom>=this.markerZoomVisible.competitor)) {

                                filtered.push(marker)
                            }
                        }
                    })
                }

                this.isLoaded=true

                return filtered
            },
            getMarkers() {
                axios.post('/api/map', {
                    since: this.lastRequest
                })
                    .then(response => {
                        if(response.data.markers.length) {
                            if(!this.isLoading) {
                                this.$snackbar.open({
                                    message: 'Появились новые объекты, '+response.data.markers.length,
                                    type: 'is-success'
                                })
                            }

                            this.contextZoneFormMenu=response.data.zonesData
                            this.translates=response.data.translates
                            this.markersRaw=response.data.markers
                            this.markers=this.filterMarkersByMapBound()
                            this.filter=response.data.filter

                            if(!this.isFullscreen || (this.isFullscreen && window.location.hash.indexOf('/filters') < 0 )) {
                                this.filterSelectedReset.types=this.initialFilterSelected ? this.initialFilterSelected : ['object', 'house']
                                this.filterSelectedReset.statuses=Object.keys(this.filter.statuses)
                                this.filterSelectedReset.cities=[]

                                this.filterSelected.types = this.initialFilterSelected ? this.initialFilterSelected : ['object', 'house']

                                var statuses = Object.keys(this.filter.statuses);

                                this.filterSelected.statuses = this.isInfoBox ? statuses : [statuses[0]];
                            }
                        }

                        this.lastRequest=moment().format("YYYY-MM-DDTHH:mm:ssZ")
                        this.isLoading=false

                        if(this.isAutoload) {
                            setTimeout(()=>{
                                this.getMarkers()
                            }, 20000)
                        }
                    }).catch((e)=>{
                    this.$snackbar.open({
                        message: e.response.data.message,
                        type: 'is-danger',
                        indefinite: true
                    })
                })
            },
            getHouseMarker(marker, position) {
                let size
                let zoomVisible=this.markerZoomVisible.house
                let markerFloorsObject

                if(marker.apartments>=200) {
                    size=3
                } else if(marker.apartments>=100 && marker.apartments<200) {
                    size=2
                } else {
                    size=1
                }

                let markerObject={
                    position: position,
                    map: this.map,
                    zIndex: 100,
                    icon: {},
                    customInfo: {
                        type: marker.type,
                        zoom: zoomVisible,
                        position: position
                    }
                }

                if(marker.buildingType=='construction' || marker.buildingType=='star') {
                    const text = parseInt(marker.apartments).toString()

                    markerObject.icon.url = '/images/house-'+marker.buildingType+marker.zone+'.svg'
                    markerObject.icon.anchor = new this.$root.google.Point(65/2, 60/2)

                    if(marker.buildingType=='construction') {
                        markerObject.label={
                            text: text,
                            color: 'white',
                            fontSize: '10px',
                            fontWeight: 'bold',
                        }
                    }

                    markerObject.icon.labelOrigin = new google.maps.Point(53, 32)
                } else if(marker.buildingType=='office') {
                    markerObject.icon.url = '/images/house-'+marker.buildingType+'.svg'
                    markerObject.icon.anchor = new this.$root.google.Point(52/2, 52/2)
                } else {
                    markerObject.icon.anchor = new this.$root.google.Point(25, 25)
                    markerObject.label={
                        text: parseInt(marker.apartments).toString(),
                        color: 'white',
                        fontSize: '10px',
                        fontWeight: 'bold'
                    }

                    markerObject.icon.url ='/images/house'+marker.zone+'-'+size+'.png'

                    markerFloorsObject={
                        position: position,
                        map: this.map,
                        zIndex: 200,
                        icon: {
                            path: this.$root.google.SymbolPath.CIRCLE,
                            labelOrigin: new this.$root.google.Point(0, 15),
                            strokeOpacity: 0
                        },
                        customInfo: {
                            type: marker.type,
                            zoom: zoomVisible,
                            position: position
                        },
                        label: {
                            text: (parseInt(marker.floors)>0 ? parseInt(marker.floors).toString() : '—'),
                            color: 'rgba(255, 255, 255, .7)',
                            fontSize: '10px',
                            fontWeight: 'bold'
                        },
                        clickable: false
                    }
                }

                var googleMarker = new this.$root.google.Marker(markerObject)

                googleMarker.setVisible(this.zoom >= zoomVisible)

                if(this.isInfoBox) {
                    googleMarker.addListener('click', () => {
                        this.selectedObject=marker
                    })
                }

                this.setEditMarker(googleMarker, position)
                this.setInfoWindow(googleMarker, position)
                this.setMarkerHover(googleMarker, marker)

                if(markerFloorsObject) {
                    let googleFloorsMarker = new this.$root.google.Marker(markerFloorsObject)

                    googleFloorsMarker.setVisible(this.zoom >= zoomVisible)

                    return [
                        googleFloorsMarker,
                        googleMarker
                    ]
                }

                return googleMarker
            },
            getObjectCircleLabelMarker(position, radius, status, label) {
                const zoomVisible = this.markerZoomVisible.circle

                const positionAtRadius = this.$root.google.geometry.spherical.computeOffset(position, radius, 270)

                let circleLabel=new this.$root.google.Marker({
                    position: positionAtRadius,
                    map: this.map,
                    zIndex: 11,
                    icon: {
                        path: this.$root.google.SymbolPath.CIRCLE,
                        strokeOpacity: 0,
                        scale: 12,
                        fillColor: '#000000',
                        fillOpacity: 1
                    },
                    customInfo: {
                        type: 'house-circle',
                        zoom: zoomVisible,
                        position: positionAtRadius,
                        status: status,
                    },
                    label: {
                        text: label,
                        color: '#FFFFFF',
                        fontSize: '10px',
                        fontWeight: 'bold'
                    },
                    clickable: false
                })

                return circleLabel
            },
            getObjectCircleMarker(position, radius, status) {
                var zoomVisible=this.markerZoomVisible.circle

                var circle = new google.maps.Circle({
                    strokeColor: '#000000',
                    strokeOpacity: .3,
                    strokeWeight: 1,
                    fillColor: '#000000',
                    fillOpacity: 0,
                    map: this.map,
                    center: position,
                    radius: radius,
                    zIndex: 10,
                    clickable: false,
                    customInfo: {
                        type: 'house-circle',
                        status: status,
                        zoom: zoomVisible,
                        position: position
                    }
                })

                return circle
            },
            getObjectMarker(marker, position) {
                const markerColor = marker.status.color ? marker.status.color : '000000'

                const zoomCustomIcon=16

                const customIcon={
                    url: '/marker/'+markerColor+'/object',
                    scaledSize: new google.maps.Size(38, 63),
                    labelOrigin: new google.maps.Point(38/2, 38/2)
                }

                const standardIcon={
                    url: '/marker/'+markerColor+'/'+this.getSizeNameByZoom(this.zoom),
                    anchor: new this.$root.google.Point(12, 12),
                }

                var googleMarker = new this.$root.google.Marker({
                    position: position,
                    map: this.map,
                    zIndex: 500,
                    label: {
                        text: (parseInt(marker.index)>0 ? (marker.index).toString() : ' '),
                        color: 'white',
                        fontSize: '14px',
                        fontWeight: 'bold',
                    },
                    icon: this.zoom>=zoomCustomIcon ? customIcon : standardIcon,
                    customInfo: {
                        type: marker.type,
                        status: marker.status.code,
                        city: marker.city,
                        position: position,
                        zoomCustomIcon: zoomCustomIcon,
                        customIcon: customIcon,
                        icons: {
                            small: '/marker/'+markerColor+'/small',
                            medium: '/marker/'+markerColor+'/medium',
                            large: '/marker/'+markerColor+'/large',
                        }
                    }
                })

                if(this.isInfoBox) {
                    googleMarker.addListener('click', () => {
                        this.selectedObject=marker
                    })
                }

                this.setEditMarker(googleMarker, position)
                this.setInfoWindow(googleMarker, position)
                this.setMarkerHover(googleMarker, marker)

                if(this.formDataId && marker.id==this.formDataId) {
                    this.listHighLight(marker)
                }

                if((this.formDataId && marker.id==this.formDataId) || !this.formDataId) {
                    let returnMarkers=[
                        this.getObjectCircleMarker(position, 300, marker.status.code),
                        this.getObjectCircleMarker(position, 150, marker.status.code),
                        googleMarker
                    ]

                    if(this.formDataId && marker.id==this.formDataId) {
                        returnMarkers.push(this.getObjectCircleLabelMarker(position, 150, marker.status.code, '150'))
                        returnMarkers.push(this.getObjectCircleLabelMarker(position, 300, marker.status.code, '300'))
                    }

                    return returnMarkers
                } else {
                    return googleMarker
                }
            },
            getCompetitorMarker(marker, position) {
                const zoomCustomIcon=16
                const zoomVisible = this.markerZoomVisible.competitor

                const customIcon={
                    url: marker.is_other && marker.subtype && marker.subtype=='01' ? '/images/competitor-self.png' : marker.icon,
                    scaledSize: new google.maps.Size(38, 63)
                }

                const standardIcon={
                    url: '/images/'+marker.type+'-'+this.getSizeNameByZoom(this.zoom)+'.png',
                    anchor: new this.$root.google.Point(12, 12),
                }

                var googleMarker = new this.$root.google.Marker({
                    position: position,
                    map: this.map,
                    icon: this.zoom>=zoomCustomIcon ? customIcon : standardIcon,
                    zIndex: 100,
                    customInfo: {
                        type: marker.type,
                        zoomCustomIcon: zoomCustomIcon,
                        customIcon: customIcon,
                        standardIcon: standardIcon,
                        position: position,
                        zoom: zoomVisible,
                        icons: {
                            small: '/images/'+marker.type+'-small.png',
                            medium: '/images/'+marker.type+'-medium.png',
                            large: '/images/'+marker.type+'-large.png',
                        }
                    }
                })

                if(this.isInfoBox) {
                    googleMarker.addListener('click', () => {
                        this.selectedObject=marker
                    })
                }

                //googleMarker.setVisible(this.zoom >= zoomVisible)

                this.setEditMarker(googleMarker, position)
                this.setInfoWindow(googleMarker, position)
                this.setMarkerHover(googleMarker, marker)

                return googleMarker
            },
            formatedAddress(address_components, type) {
                let city
                let house
                let street

                address_components.forEach(element => {
                    if(element.types[0]) {
                        if(element.types[0]=='locality') {
                            city=element.short_name
                        }

                        if(element.types[0]=='route') {
                            street=element.short_name
                        }

                        if(element.types[0]=='street_number') {
                            house=element.short_name
                        }
                    }
                })

                if(type=='city') {
                    if(city=='Kijów') {
                        city='Київ'
                    }

                    return city
                }

                return (street ? street : '') + (house ? ' ' + house : '') + (city ? (street || house ? ', ' : '') + city : '')
            },
            getTypeName: function(type) {
                let name=''

                switch(type){
                    case 'house':
                        name='Дом'
                        break
                    case 'object':
                        name='Объект'
                        break
                    case 'competitor':
                        name='Конкурент'
                        break
                }

                return name
            },
            getFilters() {

                var filters = {};
                var isset = false;

                for(var filter in this.filterSelected) {
                    if(!Array.isArray(this.filterSelected[filter]) && this.filterSelected[filter] !== null && this.filterSelected[filter] !== false) {
                        filters[filter] = this.filterSelected[filter];
                        isset = true;
                    }
                    else if (Array.isArray(this.filterSelected[filter]) && this.filterSelected[filter].length > 0) {
                        filters[filter] = this.filterSelected[filter];
                        isset = true;
                    }
                }

                return isset ? '/filters='+JSON.stringify(filters) : '';
            },
        },
        mounted() {
            this.historyJS = createHistory()
            this.isFilterTogglerVisible = this.screenSize('width') < 769

            window.addEventListener('resize', e => {
                this.isFilterTogglerVisible = this.screenSize('width') < 769
            })

            if(!this.$root.google) {
                GoogleMapsApiLoader({
                    libraries: ['places', 'geometry'],
                    language: 'ru',
                    region: 'RU',
                    apiKey: 'AIzaSyBgpNhWVty4JbL_JtYwjrwreDUlKtDUl0w'
                }).then((google) => {
                    this.$root.google = google.maps

                    this.initialize()
                })
            }else{
                this.initialize()
            }
        },
        computed: {
            markerList: function() {
                let list=[]

                return this.markers.filter(marker => {
                    const position=new this.$root.google.LatLng(marker.position[0], marker.position[1])

                    return ((this.markerZoomVisible[marker.type] && this.zoom>=this.markerZoomVisible[marker.type]) || !this.markerZoomVisible[marker.type])
                        && this.mapBounds
                        && this.mapBounds.contains(position)
                        && this.filterSelected.types.indexOf(marker.type)!==-1
                        && (!this.filterSelected.cities.length || (this.filterSelected.cities.length && this.filterSelected.cities.indexOf(marker.city)!==-1))
                        && ((marker.status && this.filterSelected.statuses.indexOf(marker.status.code)!==-1) || !marker.status)
                })
            },
            markerListNoBounds: function() {
                let list=[]

                return this.markers.filter(marker => {
                    const position=new this.$root.google.LatLng(marker.position[0], marker.position[1])

                    return ((this.markerZoomVisible[marker.type] && this.zoom>=this.markerZoomVisible[marker.type]) || !this.markerZoomVisible[marker.type])
                        && this.filterSelected.types.indexOf(marker.type)!==-1
                        && (!this.filterSelected.cities.length || (this.filterSelected.cities.length && this.filterSelected.cities.indexOf(marker.city)!==-1))
                        && ((marker.status && this.filterSelected.statuses.indexOf(marker.status.code)!==-1) || !marker.status)
                })
            }
        },
        watch: {
            isSelectAllCities: function(value){
                if(value) {
                    for(var i in this.filter.cities) {
                        this.filterSelected.cities.push(this.filter.cities[i]);
                    }
                } else {
                    this.filterSelected.cities=[];
                }
            },
            isSelectAllTypes: function(value){
                if(value) {
                    this.filterSelected.types = Object.keys(this.filter.types);
                } else {
                    this.filterSelected.types=[];
                }
            },
            isSelectAllStatuses: function(value){
                if(value) {
                    this.filterSelected.statuses = Object.keys(this.filter.statuses);
                } else {
                    this.filterSelected.statuses=[];
                }
            },
            history: {
                handler: function() {
                    this.currentHash = '#/zoom='+this.history.zoom+'/lat='+this.history.lat+'/lng='+this.history.lng;
                    this.historyJS.push(window.location.pathname+this.currentHash+this.getFilters());
                },
                deep: true
            },
            markers: function (markers) {
                var bounds = new google.maps.LatLngBounds()
                var position
                var markerByType

                this.mapMarkers.forEach(marker => {
                    marker.setMap(null)
                })

                this.mapMarkers=[]

                markers.forEach(marker => {
                    position = new this.$root.google.LatLng(marker.position[0], marker.position[1])
                    const methodName='get'+marker.type.charAt(0).toUpperCase() + marker.type.slice(1)+'Marker'

                    if(this[methodName]) {
                        markerByType = this[methodName](marker, position)

                        if(Array.isArray(markerByType)) {
                            this.mapMarkers=this.mapMarkers.concat(markerByType)
                        }else{
                            this.mapMarkers.push(markerByType)
                        }

                        bounds.extend(position)
                    }
                })

                if(!this.isCurrentPosition && !this.initialCenter && this.setBoundsOnOpen) {
                    this.map.fitBounds(bounds)
                    this.setBoundsOnOpen=false
                }

                this.setMarkersVisibility(this.zoom)
            },
            zoom: function(zoom) {
                this.map.setZoom(zoom)

                this.setMarkersVisibility(zoom)

                this.$root.$emit('rem-map.change.zoom', zoom)
            },
            address: function(address) {
                this.$root.$emit('rem-map.change.address', address)
            },
            center: function (center) {
                let position=new this.$root.google.LatLng(center[0], center[1])

                this.map.setCenter(position)

                if(this.isAddressMarker) {
                    //this.addressMarker.setPosition(position)

                    let geocoder=new google.maps.Geocoder

                    geocoder.geocode({
                        'location': {
                            lat: center[0],
                            lng: center[1]
                        }
                    }, (results) =>{
                        this.address=(results && results[0] ? this.formatedAddress(results[0].address_components) : '')
                        this.city=(results && results[0] ? this.formatedAddress(results[0].address_components, 'city') : '')

                        this.eventAddressMarkerChange()
                    })
                }

                this.$root.$emit('rem-map.change.center', center)
            },
            filterSelected: {
                handler: function() {
                    if(this.isFullscreen) {
                        this.setMarkersVisibility(this.zoom)

                        // if(oldFilterSelected.cities.length != newFilterSelected.cities.length) {
                        //    this.listShowAllFiltered()
                        // }

                        this.canChangeBounds = true
                    }

                    if(this.isFullscreen) {
                        var filters = {};

                        for(var filter in this.filterSelected) {
                            if(!Array.isArray(this.filterSelected[filter]) && this.filterSelected[filter] !== null && this.filterSelected[filter] !== false) {
                                filters[filter] = this.filterSelected[filter];
                            }
                            else if (Array.isArray(this.filterSelected[filter]) && this.filterSelected[filter].length > 0) {
                                filters[filter] = this.filterSelected[filter];
                            }
                        }

                        this.historyJS.push('#/zoom='+this.map.getZoom()+'/lat='+this.map.getCenter().lat()+'/lng='+this.map.getCenter().lng()+'/filters='+JSON.stringify(filters));
                    }
                },
                deep: true
            }
        }
    }
</script>
<style lang="scss">
    .REM-map{
        position: relative;
        border: 1px solid #d8d8d8;

        .filter-toggler {
            display: none;
        }

        .fullscreen {
            .filter-toggler {
                position: fixed;
                top: 52px;
                left: 0;
                z-index: 1000;
                padding: .75rem;
                width: 33.333333%;
                display: none;

                @media screen and (max-width: 769px) {
                    display: block;
                }

                @media screen and (max-width: 414px) {
                    width: 50%;
                }

                .button {
                    width: 100%;
                    border-radius: 0;
                }
            }
        }

        .columns-map {
            &.fullscreen {
                position: fixed;
                top: 52px;
                left: 0;
                height: calc(100vh - 52px);
                width: 100%;

                .column-map {
                    .map-wrapper {
                        height: 100%;
                    }
                }
            }

            .column-filter {
                height: 100%;
                overflow: auto;
                background-color: #e8e8e8;
                display: none;
                transition: transform .5s;

                &.is-toggler-hidden {
                    display: block;
                    pointer-events: all;
                }

                &.is-toggler-visible {
                    display: block;
                    transform: translateX(-100%);
                    pointer-events: none;
                }

                &.is-visible {
                    transform: translateX(0%);
                    pointer-events: all;
                }

                @media screen and (max-width: 769px) {
                    position: fixed;
                    z-index: 200;
                    padding-top: 4rem!important;
                    padding-left: .75rem!important;
                    padding-right: .75rem!important;
                }

                .wrapper {
                    margin: 0.75rem;

                    .filter-group{
                        &:not(:last-child) {
                            margin-bottom: 3rem;
                        }
                    }
                }
            }

            .column-list {
                height: 100%;
                overflow: auto;
                background-color: whitesmoke;
                max-width: 30rem;

                @media screen and (max-width: 769px) {
                    padding-top: 3rem!important;
                }

                @media screen and (max-width: 414px) {
                    width: 50%!important;
                }

                .card {
                    padding: .2rem;
                    margin: 0.75rem;
                    transition: background-color .2s;

                    a, small {
                        transition: color .2s;
                    }

                    small {
                        opacity: .5;
                    }

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }

                    .title {
                        line-height: 1.7rem;
                        margin-bottom: .5rem;

                        @media screen and (max-width: 769px) {
                            font-size: 1rem;
                            line-height: 1.3rem;
                        }
                    }

                    .competitor {
                        max-width: 1.5rem;
                    }

                    .column-icons {
                        align-self: center;

                        @media screen and (max-width: 414px) {
                            width: 100%!important;
                            text-align: left!important;
                        }
                    }

                    .card-content {
                        padding: .5rem;

                        .image {
                            img {
                                max-height: 7rem;
                                object-fit: cover;
                            }
                        }

                        .icon {
                            color: #c1c1c1
                        }

                        .status {
                            .tag {
                                transition: background-color .2s, color .2s;
                                margin-bottom: .4rem;

                                @media screen and (max-width: 769px) {
                                    font-size: .7rem;
                                    padding-left: .3rem;
                                    padding-right: .3rem;
                                }
                            }
                        }
                    }

                    &.hovered,
                    &:hover {
                        background-color: #3273dc;

                        a, small {
                            color: #FFF;
                        }

                        .icon {
                            color: #FFF!important;
                            cursor: pointer;
                        }

                        .status {
                            .tag {
                                background-color: #FFFFFF!important;
                                color: #3273dc
                            }
                        }
                    }
                }

                .not-found {
                    display: flex;
                    flex-flow: column;
                    height: 100%;
                    justify-content: center;

                    .content {
                        margin: 0 1rem;
                    }
                }
            }

            .column-map {
                .map-wrapper {
                    width: 100%;
                    height: 600px;
                }
            }
        }

        &.is-loaded {
            .autocompleteCard {
                display: block;
                opacity: 1;
            }
        }

        .autocompleteCard {
            display: none;
            opacity: 0;
            transition: opacity 1s;
            width: 100%;
            padding: .75rem;

            input {
                width: 100%;
                color: #888888;
            }
        }

        .infoBox {
            position: absolute;
            z-index: 1000;
            left: 10px;
            bottom: 10px;
            width: 30%;
            min-width: 300px;

            .content {
                .icon:not(.is-small) {
                    i {
                        &:before {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .userLocation {
            position: absolute;
            z-index: 1000;
            right: 7px;
            bottom: 190px;

            button {
                background-color: rgb(255, 255, 255);
                border: none;
                outline: none;
                width: 28px;
                height: 28px;
                border-radius: 2px;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
                cursor: pointer;
                margin-right: 10px;
                padding: 0px;

                div {
                    margin: 5px;
                    width: 18px;
                    height: 18px;
                    background-image: url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png);
                    background-size: 180px 18px;
                    background-position: 0px 0px;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .addressMarker {
        pointer-events:none;
        width: 27px;
        height: 55px;
        position:absolute;
        z-index:10000;
        top: 50%;
        left:50%;
        margin-left: -13.5px;
        margin-top: -49px;
    }

    .context-menu {
        min-width: inherit;
        position: fixed;
        display: inherit;
        z-index: 1000;

        background-color: white;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 2px solid #dbdbdb;
        box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
        font-size: 0.875rem;
    }

    .context-form {
        position: fixed;
        top: 52px;
        left: 0;
        height: calc(100vh - 52px);
        width: 51%;
        z-index: 29;
        background: #FFFFFF;
        padding: 1.5rem;
        overflow: auto;

        &.is-inline {
            position: absolute;
            top: 0;
            height: 100%;
        }

        .modal-close {
            right: 10px;
            top: 10px;
            position: absolute;
            z-index: 1000;

            &::after{
                background-color: black;
            }

            &::before{
                background-color: black;
            }

            &:hover {
                background-color: rgba(10, 10, 10, 0.1)
            }
        }
    }
</style>