<template>
  <div v-html="label" v-bind="properties"></div>
</template>

<script>
  export default {
    name: 'vfbSpan',
    props: {
      label: {
        type: String,
        default: ''
      },
      properties: {
        type: Object,
        default: () => ({})
      }
    }
  }
</script>
