
<template>
  <b-autocomplete v-bind="properties"                  
                  :data="filteredData"
                  @blur="handleBlurEvent"
                  @input="handleInputEvent"
                  @focus="handleFocusEvent"
                  @select="option => model[field.key] = option ? option.id : ''">
                  <template slot="header">
                    <a @click="openParentForm">
                        <span>Добавить новую запись...</span>
                    </a> 
                  </template>
                  <template slot="empty" v-if="userInput">Не найдено: {{ userInput }} </template>
  </b-autocomplete>
</template>

<script>
  /**
   * Extended input that provide suggestions while the user types.
   * {@link https://buefy.github.io/#/documentation/autocomplete}
   */
  import BaseFormlyFieldMixin from '@/mixins/base-formly-field'
  import FilteredFieldMixin from '@/mixins/fields/filtered'
  import RequiredFieldMixin from '@/mixins/fields/required'
  
  export default {
    name: 'vfbAutocomplete',
    mixins: [BaseFormlyFieldMixin, FilteredFieldMixin, RequiredFieldMixin],
    methods: {
      handleInputEvent (...args) {
        this.getFilteredData(args[0])
        this.callCustomEventHandler('input', args)
      },
      handleSelectedEvent (...args) {
        this.callCustomEventHandler('selected', args)
      },
      openParentForm () {
        window.location.href=this.properties.parentFormUrl
      }
    }
  }
</script>
