<?php
$fields = $model->withRelation();
?>
<?php foreach($fields as $collection): ?>
    <?php $field = $collection->first() ?>
<div class="form-group form-group-preview text-field">
    <label>
        <?= e(trans(@$field->field->name)) ?>
    </label>
    <span class="form-control">
        <?php if(@$field->field->type == 'map'): ?>
            <?php dump(json_decode($field->field_value)); ?>
        <?php elseif(@$field->field->type == 'file'): ?>
            <?php foreach($field->field_value as $file): ?>
                <a href="<?= $file ?>" target="_blank"><?= $file ?></a><br>
            <?php endforeach; ?>
        <?php else: ?>
            <?= e($field->field_value) ?>
        <?php endif; ?>
    </span>
</div>
<?php endforeach; ?>