
<div data-control="toolbar">

        <a
            href="<?= Backend::url('perevorot/users/users/create') ?>"
            class="btn btn-primary oc-icon-plus">
            <?= e(trans('rainlab.user::lang.users.new_user')) ?>
        </a>
        <div class="btn-group dropdown dropdown-fixed" data-control="bulk-actions">
            <button
                data-primary-button
                type="button"
                class="btn btn-default"
                data-request="onBulkAction"
                data-trigger-action="enable"
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-request-success="$(this).prop('disabled', true).next().prop('disabled', true)"
                data-stripe-load-indicator>
                <?= e(trans('rainlab.user::lang.users.bulk_actions')) ?>
            </button>
            <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-trigger-action="enable"
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-dropdown-title="<?= e(trans('rainlab.user::lang.users.bulk_actions')) ?>">
                <li>
                    <a href="javascript:;" class="oc-icon-trash-o" data-action="delete" data-confirm="<?= e(trans('rainlab.user::lang.users.delete_selected_confirm')) ?>">
                        <?= e(trans('rainlab.user::lang.users.delete_selected')) ?>
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:;" class="oc-icon-user-times" data-action="deactivate" data-confirm="<?= e(trans('rainlab.user::lang.users.deactivate_selected_confirm')) ?>">
                        <?= e(trans('rainlab.user::lang.users.deactivate_selected')) ?>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="oc-icon-user-plus" data-action="restore" data-confirm="<?= e(trans('rainlab.user::lang.users.restore_selected_confirm')) ?>">
                        <?= e(trans('rainlab.user::lang.users.restore_selected')) ?>
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="javascript:;" class="oc-icon-ban" data-action="ban" data-confirm="<?= e(trans('rainlab.user::lang.users.ban_selected_confirm')) ?>">
                        <?= e(trans('rainlab.user::lang.users.ban_selected')) ?>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="oc-icon-circle-o-notch" data-action="unban" data-confirm="<?= e(trans('rainlab.user::lang.users.unban_selected_confirm')) ?>">
                        <?= e(trans('rainlab.user::lang.users.unban_selected')) ?>
                    </a>
                </li>
            </ul>
        </div>

    <a href="<?= Backend::url('perevorot/users/usergroups') ?>" class="btn btn-default oc-icon-group">
        <?= e(trans('rainlab.user::lang.groups.all_groups')) ?>
    </a>
</div>