<?php if($model->parent): ?>
    <?php if(in_array($model->parent->type, ['select','radio','checkbox'])): ?>
        <?php if($model->parent->type == 'select'): ?>
            <select name="Field[parent_field_value]" id="Form-relationFieldsManageForm-field-Field-type" name="Field[type]" class="form-control custom-select  select2-hidden-accessible" data-disposable="data-disposable" tabindex="-1" aria-hidden="true">
                <?php foreach($model->parent->options as $option): ?>
                    <option <?php if($option['code'] == $model->parent_field_value): ?>selected<?php endif; ?> value="<?php echo $option['code'] ?>"><?php echo $option['name'] ?></option>
                <?php endforeach; ?>
            </select>
        <?php elseif($model->parent->type == 'checkbox'): ?>
            <div class="field-checkboxlist">
                <?php foreach($model->parent->options as $option): ?>
                    <div class="checkbox custom-checkbox">
                        <input <?php if(@in_array($option['code'], $model->parent_field_value)): ?>checked<?php endif; ?> id="checkbox_parent_field_value_<?php echo $option['code'] ?>" name="Field[parent_field_value][]" type="checkbox" value="<?php echo $option['code'] ?>">
                        <label for="checkbox_parent_field_value_<?php echo $option['code'] ?>"><?php echo $option['name'] ?></label>
                    </div>
                <?php endforeach; ?>
            </div>
        <?php elseif($model->parent->type == 'radio'): ?>
            <?php foreach($model->parent->options as $option): ?>
                <div class="radio custom-radio">
                    <input <?php if(@in_array($option['code'], $model->parent_field_value)): ?>checked<?php endif; ?>  id="option-<?php echo $option['code'] ?>" name="Field[parent_field_value][]" type="radio" value="<?php echo $option['code'] ?>">
                    <label for="option-<?php echo $option['code'] ?>"><?php echo $option['name'] ?></label>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
    <?php else: ?>
        <input
                type="text"
                name="Field[parent_field_value]"
                id="<?= $model->id ?>"
                value="<?= e($model->parent_field_value) ?>"
                class="form-control"
                autocomplete="off"
        />
    <?php endif; ?>
<?php endif; ?>