<template>
  <b-field v-bind="clearProperties">
    <div class="field-wrapper" v-if="!isCollapsed">
      <vfb-control v-for="(control, index) in filterControls('before')"
                  :key="index"
                  :options="control.options"
                  :type="control.type">
      </vfb-control>
      <component :is="wrappedComponent"
                :form.sync="form"
                :model="model"
                :field="field"
                :to="to">
      </component>
      <vfb-control v-for="(control, index) in filterControls('after')"
                  :key="index"
                  :options="control.options"
                  :type="control.type">
      </vfb-control>
    </div>
  </b-field>
</template>

<script>
  /**
   * The wrapper for components with a single child.
   * Adds additional functionality to foregoing components.
   * {@link https://buefy.github.io/#/documentation/field}
   */
  import FieldWrapperMixin from '@/mixins/wrappers/field'
  import VFBControl from './Control.vue'

  export default {
    name: 'vfbFieldWrapper',
    mixins: [FieldWrapperMixin],
    components: {
      [VFBControl.name]: VFBControl
    },
    data(){
      return {
        isCollapsed: false
      }
    },
    mounted(){
      const collapsable = this.getTemplateOption('collapsable')

      if(collapsable) {
        let field = this.$parent.$el

        this.isCollapsed = true
        
        field.classList.add('collapsable')
        field.classList.add('collapsed')

        field.childNodes[0].addEventListener('click', () => {
          this.isCollapsed=!this.isCollapsed
          field.classList.toggle('collapsed')
        });
      }
    }
  }
</script>