<template>
  <b-field v-bind="clearProperties">
    <div class="field-wrapper" v-if="!isCollapsed">
      <vfb-control v-for="(control, index) in filterControls('before')"
                  :key="index"
                  :options="control.options"
                  :type="control.type">
      </vfb-control>
      <component v-for="(option, index) in to.options"
                :key="index"
                :is="wrappedComponent"
                :form.sync="form"
                :model="model"
                :field="field"
                :to="option">
      </component>
      <vfb-control v-for="(control, index) in filterControls('after')"
                  :key="index"
                  :options="control.options"
                  :type="control.type">
      </vfb-control>
    </div>
  </b-field>
</template>

<script>
  /**
   * The wrapper for components with multiple children (e.g. CheckboxButton, Radio).
   * Add additional functionality to foregoing components.
   * {@link https://buefy.github.io/#/documentation/field}
   */
  import FieldWrapperMixin from '@/mixins/wrappers/field'
  import VFBControl from './Control.vue'

  export default {
    name: 'vfbMultiFieldWrapper',
    mixins: [FieldWrapperMixin],
    components: {
      [VFBControl.name]: VFBControl
    },
    data(){
      return {
        isCollapsed: false
      }
    },
    mounted(){
      const collapsable = this.getTemplateOption('collapsable')

      if(collapsable) {
        let field = this.$parent.$el

        this.isCollapsed = true
        
        field.classList.add('collapsable')
        field.classList.add('collapsed')

        field.childNodes[0].addEventListener('click', () => {
          this.isCollapsed=!this.isCollapsed
          field.classList.toggle('collapsed')
        });
      }
    }
  }
</script>

<style>
  .field.collapsable {
    position: relative;
  }

  .field.collapsable >label {
    border-bottom: 1px solid rgb(182, 182, 182);
    padding-bottom: 4px;
    cursor: pointer;
  }

  .field.collapsable >label:after {
    content: "\F045";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
    transition: transform .5s;
  }

  .field.collapsable.collapsed >label:after {
    transform: rotate(0deg);
  }
</style>