<template>
      <div>
        <rem-map v-if="!model[field.key].presetMap" :is-current-position="true" :is-autoload="false" :is-autocomplete="true" :is-address-marker="true" :info-window='infoWindow' :initial-zoom="initialZoom" :initial-center="initialCenter" style="margin-bottom: 1.75rem"></rem-map>
        <div class="field" style="margin-bottom: 1.75rem;">
            <label class="label" v-if="!model[field.key].presetMap">Адрес объекта</label>
            <div class="control is-clearfix">
                <input type="text" ref="address" class="input" v-model="model[field.key].address">
            </div>
        </div>
    </div>
</template>

<script>
  import BaseFormlyFieldMixin from '@/mixins/base-formly-field'
  import RequiredFieldMixin from '@/mixins/fields/required'

  export default {
    name: 'vfbMap',
    mixins: [BaseFormlyFieldMixin, RequiredFieldMixin],
    created () {
      this.$root.$on('rem-map.change.address-marker', (data) => {
        this.model[this.field.key]=data
      })
    },
    computed: {
      initialCenter: function() {
        return this.model[this.field.key] && this.model[this.field.key].lat!==0 && this.model[this.field.key].lng !== 0 ? [
          this.model[this.field.key].lat,
          this.model[this.field.key].lng
        ] : undefined;
      },
      initialZoom: function() {
        return this.model[this.field.key] ? 18 : -1;
      },
      infoWindow: function() {
        return this.model[this.field.key].address;
      },
    }
  }
</script>
